// Article

@import 'base-shared';

.usajobs-help-center-article {
  &__container {
    max-width: $article-max-width;
  }
  // Fix for lack of design system lists in prod
  .usajobs-content-well ul {
    @include bulletList();
  }

  .usajobs-content-well ul,
  .usajobs-content-well ol {
    margin-left: 0.9em;
  }

  .usajobs-content-well a {
    text-decoration: underline;
  }

  &__related {
    margin-top: rem(89px);
  }

  &__related-list {
    @include unstyledList();

    > li {
      line-height: 1.8;
    }

    > li > a {
      text-decoration: none;
    }
  }

  &__additional-container {
    @include span-columns(12, 12);
    margin: $size-M 0;
  }

  &__additional-help {
    padding: $size-default;
    text-align: center;
    background-color: $color-primary-alt-lightest;

    p {
      @include h4();
      color: $color-primary-darkest;

      a {
        font-weight: normal;
      }

      a:visited {
        color: $color-primary;
      }
    }
  }

  // Override of the US Standards on lists. It really does odd things inside of articles.
  ul,
  ol {
    margin-bottom: $size-S;
  }

  blockquote {
    padding: 0 $size-default;
    color: $color-gray;
    border-left: 4px solid $color-gray-light;
  }
}
