// Article

@import 'base-shared';

.usajobs-help-center-article {
  &__container {
    max-width: $article-max-width;
  }
  // Fix for lack of design system lists in prod
  .usajobs-content-well ul {
    @include bulletList();
  }

  .usajobs-content-well ul,
  .usajobs-content-well ol {
    margin-left: 0.9em;
  }

  .usajobs-content-well a {
    text-decoration: underline;
  }

  &__related {
    margin-top: rem(89px);
  }

  &__related-list {
    @include unstyledList();

    > li {
      line-height: 1.8;
    }

    > li > a {
      text-decoration: none;
    }
  }

  // Override of the US Standards on lists. It really does odd things inside of articles.
  ul,
  ol {
    margin-bottom: $size-S;
  }

  blockquote {
    padding: 0 $size-default;
    color: $color-gray;
    border-left: 4px solid $color-gray-light;
  }
}

.usajobs-help-center-article-contact {
  @include span-columns(12, 12);
  margin: $size-M 0;

  &__list {
    @include unstyledList();
  }
}

.usajobs-help-center-article-contact .usajobs-help-center-article-contact__button {
  width: 100%;
  padding: $size-M $size-default;
  @include h4();
  text-align: center;
  background-color: $color-primary-alt-lightest;
  color: $color-primary-darkest;
}

.usajobs-help-center-article-contact .usajobs-help-center-article-contact__button:hover {
  background-color: $color-primary-alt-light;
  color: $color-primary-darkest;
}

.usajobs-help-center-article-contact .usajobs-help-center-article-contact__button[aria-expanded=false],
.usajobs-help-center-article-contact .usajobs-help-center-article-contact__button[aria-expanded=true] {
  background-image: inherit;
}

.js .usajobs-help-center-article-contact {
  .usajobs-help-center-article-contact__form-container {
    &[aria-hidden=true] {
      display: none;
    }
  }
}
