// Landing (FAQs, How-to, Working in Government)

@import 'base-shared';

// Note: Some styles are shared with landing and can be found in help-center.scss

.usajobs-help-center-landing {
  .usajobs-help-center__lead {
    margin-bottom: $size-XL;
  }

  .usajobs-grid-full {
    max-width: $site-max-width;
  }

  &__title &__circle {
    margin-right: $size-default;
    text-align: center;
  }

  &__title.faq &__circle {
    @include makeCircle(88px, $color-primary-alt, none, $color-primary-alt);
    box-shadow: inset 0 0 0 3px $color-primary-alt;
  }

  &__title.how-to &__circle {
    @include makeCircle(88px, $color-green, none, $color-green);
    box-shadow: inset 0 0 0 3px $color-green;
  }

  &__title.working-in-government &__circle {
    @include makeCircle(88px, $color-gold, none, $color-gold);
    box-shadow: inset 0 0 0 3px $color-gold;

    &:before {
      margin-right: -4px;
    }
  }

  &.faqs .section-header {
    margin-top: $size-default;
  }
}
