// Timeline

@import 'base-shared';

html,
body {
  margin: 0;
  height: 100%;
}

.usajobs-help-center.timeline,
.usajobs-help-center-timeline {
  height: 100%;
}

.usajobs-help-center-timeline-panel {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  @include contentGutter();
  height: 100%;
  width: 100%;
  color: $color-white;

  &__body {
    max-width: rem(1600px);
  }

  &__year {
    display: block;
    text-align: center;
    font-family: $font-sans;
    font-weight: bold;
    font-style: normal;
    color: $color-white;
    font-size: $h1-font-size;

    @include media(max-height 320px) {
      font-size: $h3-font-size;
    }
  }

  &__prior,
  &__sub-title {
    font-family: $font-serif;
    font-weight: 100;
    font-style: italic;
    color: $color-white;
    text-align: center;
    font-size: ($h1-font-size / 2);
    margin-top: 0;
    margin-bottom: $size-default;

    @include media(max-height 320px) {
      font-size: $h4-font-size;
    }

    @include media($ML) {
      font-size: $h1-font-size;
      margin-top: $size-default;
      margin-bottom: $size-M;
    }
  }

  &__sub-title {
    margin-bottom: $size-base;

    @include media($ML) {
      margin-bottom: $size-M;
    }
  }

  &__event-title {
    display: none;
    font-weight: bold;
    font-size: $h4-font-size;

    @include media($SM) {
      display: inherit;
    }

    @include media(max-height 320px) {
      display: none;
    }

    @include media($ML) {
      font-size: $h2-font-size;
    }
  }

  p {
    font-size: $small-font-size;
    font-family: $font-serif;
    font-weight: 100;

    @include media($ML) {
      font-size: $h3-font-size;
    }
  }

  &__quote {
    margin: 0;
  }

  &__quote p,
  p.usajobs-help-center-timeline-panel__intro {
    font-weight: normal;
    color: $color-white;
    font-size: $base-font-size;

    @include media($M) {
      font-size: ($h1-font-size / 2);
    }

    @include media($ML) {
      font-size: $h2-font-size;
      margin-bottom: $size-XL;
    }
  }

  p.usajobs-help-center-timeline-panel__intro {
    font-family: $font-sans;
  }

  p.usajobs-help-center-timeline-panel__strong {
    font-family: $font-sans;
    font-weight: bold;
    font-size: ($h1-font-size / 2);

    @include media($ML) {
      font-size: $h1-font-size;
    }
  }

  &__attrib-container {
    @include clearfix();
  }

  &__attrib {
    @include media($M) {
      @include span-columns(3, 6);
      @include omega();
      float: right;
    }

    p {
      font-family: $font-serif;
      font-style: italic;
      margin: 0;
      font-size: ($h2-font-size / 2);

      @include media($ML) {
        font-size: $h3-font-size;
      }
    }
  }

  &__img {
    @include media($SM) {
      max-width: rem(440px);
    }

    @include media(max-height 320px) {
      display: none;
    }

    @include media($ML) {
      max-width: 100%;
    }
  }

  &__img-container {
    text-align: center;

    img,
    .usajobs-help-center-timeline-panel__img {
      max-width: rem(220px);

      @include media(max-height 320px) {
        display: none;
      }

      @include media($ML) {
        max-width: 100%;
      }
    }

    img.mini {
      max-width: rem(100px);

      @include media(max-height 320px) {
        display: none;
      }

      @include media($ML) {
        max-width: 100%;
      }
    }
  }

  &__text-container {
    @include media($ML) {
      padding: 0 $size-default;
    }
  }

  &__shade {
    display: none;
    position: absolute;
    left: 50%;
    border-left: 1px solid $color-white;
    height: 5%;

    @include media($SM) {
      display: inherit;
    }

    @include media(max-height 320px) {
      display: none;
    }

    &.top {
      top: 0;
    }

    &.top .usajobs-help-center-timeline-panel__shade-pull {
      bottom: -#{$size-default};
    }

    &.bottom {
      bottom: 0;
    }

    &.bottom .usajobs-help-center-timeline-panel__shade-pull {
      top: -#{$size-default};
    }
  }

  &__shade-pull {
    position: absolute;
    margin-left: -.75rem;
  }

  &__scroll-down {
    margin-top: $size-default;
    text-align: center;

    a,
    a:visited {
      display: block;
      color: $color-white;
    }
  }

  &__return {
    display: block;
    padding: $size-M 0 0;
    text-align: center;

    @include media(max-height 320px) {
      max-width: rem(100px);
    }
  }
}

.usajobs-help-center-timeline-panel.panel-1 {
  background-color: $color-green;
  background-image: url('../img/help-center/timeline/background.svg');
  background-repeat: no-repeat;
  background-position: center 140%;
}

.usajobs-help-center-timeline-panel.panel-2 {
  background-color: $color-primary;
}

.usajobs-help-center-timeline-panel.panel-3 {
  background-color: $color-secondary-dark;
}

.usajobs-help-center-timeline-panel.panel-4 {
  background-color: $color-cool-blue-light;
}

.usajobs-help-center-timeline-panel.panel-5 {
  background-color: $color-gray-warm-dark;
}

.usajobs-help-center-timeline-panel.panel-6 {
  background-color: $color-primary-alt-dark;
}

.usajobs-help-center-timeline-panel.panel-7 {
  background-color: $color-secondary-darkest;
}

.usajobs-help-center-timeline-panel.panel-8 {
  background-color: $color-gray;
}

.usajobs-help-center-timeline-panel.panel-9 {
  background-color: $color-visited;
}

.usajobs-help-center-timeline-panel.panel-10 {
  background-color: $color-primary-darker;
}

.usajobs-help-center-timeline-panel.panel-11 {
  background-color: $color-primary-darkest;
}

.usajobs-help-center-timeline-panel-stats-bubble {
  background-color: $color-green;
  border-radius: $size-base;
  padding: $size-S $size-S 0;

  @include media($ML) {
    padding: $size-default;
  }

  &__list {
    margin: 0;
  }

  &__list li {
    @include h2();
    font-size: ($h2-font-size / 2);
    color: $color-white;

    @include media($ML) {
      font-size: $h3-font-size;
    }
  }
}

$pillar-icon-width: rem(68px);
$pillar-body-padding: $size-default;

.usajobs-ds-home-research-pillars {
  &__list {
    @include unstyledList();
    width: 100%;

    @include media($ML) {
      margin-top: $size-XL;
    }

    .usajobs-ds-home-research-pillars__pillar {
      display: inline-block;
      width: 100%;

      @include media($M) {
        @include span-columns(3, 6);
        min-height: rem(95px);
      }

      &:nth-child(2n) {
        @include media($M) {
          @include omega();
        }
      }

      p.usajobs-ds-home-research-pillars__pillar-desc {
        font-size: $h6-font-size;
        margin: 0;

        @include media($ML) {
          font-size: $base-font-size;
        }
      }
    }
  }

  &__body {
    padding: 0 $pillar-body-padding $pillar-body-padding;
  }

  &__icon .fa {
    display: inline-block;
    text-align: center;
    font-size: ($pillar-icon-width / 2);

    @include media($ML) {
      font-size: $pillar-icon-width;
    }
  }

  &__icon.p1 .fa {
    color: $color-secondary-darkest;
  }

  &__icon.p2 .fa {
    @include transform(rotate(60deg));
    color: $color-primary-alt;
  }

  &__icon.p3 .fa {
    @include transform(rotate(120deg));
    color: $color-green;
  }

  &__icon.p4 .fa {
    @include transform(rotate(180deg));
    color: $color-gold;
  }

  &__icon.p5 .fa {
    @include transform(rotate(240deg));
    color: $color-primary;
  }

  &__icon.p6 .fa {
    @include transform(rotate(300deg));
    color: $color-primary-darkest;
  }

  &__pillar-title {
    margin-top: 0;
    text-transform: uppercase;
    display: none;
  }
}

.no-flexbox .usajobs-ds-home-research-pillars {
  $icon-padding: $size-default;

  &__pillar {
    @include clearfix();
    display: table;
  }

  &__figure,
  &__body {
    display: table-cell;
  }

  &__body {
    @include calc(width, '100% - ' ($pillar-icon-width + $icon-padding + ($pillar-body-padding * 2)));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-ds-home-research-pillars {
  &__pillar {
    @include display(flex);
    @include align-items(flex-start);
  }

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}
