// Unique Hiring Path -- Page Layout

@import "base-shared";

.usajobs-uhp {
  max-width: $site-max-width-S;
}

.usajobs-help-center-unique-hiring-path.usajobs-content-gutter {
  @include media($XXL) {
    padding-left: 0;
    padding-right: 0;
  }
}

.usajobs-uhp-section {
  @include clearfix();
  margin-bottom: $size-L;

  &__title {
    @include media($ML) {
      @include h3();
    }
  }

  &__col-left {
    @include media($ML) {
      @include span-columns(2, 6);
    }
    @include media($L) {
      @include span-columns(4, 12);
      @include pad(0 default 0 0);
    }
  }

  &__col-right {
    @include media($ML) {
      @include span-columns(4, 6);
      @include omega();
      max-width: $article-max-width;
    }

    @include media($L) {
      @include span-columns(8, 12);
    }
  }

  &__filters-uhp-desc {
    font-weight: bold;
  }

  &__pathways-logo {
    margin-top: $size-base;
  }
}

.usajobs-uhp-section--excepted-service {
  &__title {
    color: $color-primary-alt-dark;
  }
}

svg.usajobs-uhp-section__filters-uhp-icon,
svg.usajobs-uhp-section-service-divider__icon {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  margin: 0 $size-base;
}

.usajobs-uhp-section-service-divider {
  &__title {
    display: inline-block;
    margin-bottom: 0;
    padding-left: $size-base;
  }

  &__icon {
    margin-bottom: $size-base;
  }
}

.usajobs-uhp-section-service-divider--competitive {
  border-bottom: 1px solid $color-primary-darkest;
}

.usajobs-uhp-section-service-divider--excepted {
  border-bottom: 1px solid $color-primary-alt;

  &__title {
    color: $color-primary-alt-dark;
  }
}

.usajobs-uhp-section--services {
  max-width: inherit;

  &__container {
    @include media($L) {
      @include display(flex);
      @include flex-wrap(wrap);
    }
  }
}

.usajobs-uhp-section-outside-resources {
  @include unstyledList();
}

.usajobs-uhp-resource-cta {
  margin-bottom: $size-L;

  &__body {
    @include clearfix();
    display: block;
    padding: $size-default;
    background-color: $color-primary-alt-lightest;
    text-decoration: none;

    &:visited,
    &:hover {
      color: $color-base;
      text-decoration: none;
    }
  }

  &__text {
    color: $color-base;

    @include media($M) {
      margin: 0;
    }
  }

  &__img {
    width: rem(143px);
    text-align: center;

    @include media($M) {
      float: left;
      margin-right: $size-default;
    }
  }

  &__emphasis {
    text-decoration: underline;
  }
}

.usajobs-uhp-section-required-documents {
  @include unstyledList();
  @include clearfix();

  &__item {
    margin-bottom: $size-base;

    @include media($M) {
      @include span-columns(3, 6);
      margin-bottom: 0;
    }
  }

  &__single-item {
    margin-bottom: $size-base;

    @include media($M) {
      margin-bottom: 0;
    }
  }

  &__link,
  &__doc {
    width: 100%;
    padding: $size-default $size-S;

    .fa {
      font-size: $h1-font-size;
    }

    .fa-file-pdf {
      color: $color-secondary-dark;
    }
  }

  &__link {
    color: $color-primary;
    text-decoration: none;

    &:visited {
      color: $color-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__link:hover &__body {
    text-decoration: underline;
  }

  &__body {
    padding: 0 $size-default;
    font-style: italic;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.no-flexbox .usajobs-uhp-section-required-documents {
  &__link,
  &__doc {
    @include clearfix();
    display: table;
  }

  &__figure,
  &__body {
    display: table-cell;
  }

  $icon-width: rem(68px);
  $icon-padding: $size-default;
  $body-padding: $size-M;
  &__body {
    @include calc(width, "100% - " (38px + 15px + 30px));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-uhp-section-required-documents {
  &__link,
  &__doc {
    @include display(flex);
    @include align-items(flex-start);
  }

  &__figure {
    @include flex-shrink(0);

    svg {
      width: 3.7rem;
      height: auto;
    }
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}

.usajobs-uhp-section-service {
  margin-bottom: $size-M;
  border: 1px solid $color-gray-light;
  background-color: $color-secondary-lightest;

  @include media($L) {
    @include flex(1);
    margin-bottom: $size-default;
    margin-left: $size-default;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    padding: $size-default;
    font-size: $h4-font-size;
    font-weight: bold;
    background-color: $color-gray-cool-light;

    @include media($L) {
      min-height: rem(80px);
    }
  }

  &__body {
    padding: $size-default;
    background-color: $color-white;

    @include media($L) {
      min-height: rem(239px);
    }
  }

  &__appt-types {
    margin-bottom: 0;
    padding-left: 1.2em;
  }

  &__appt-types-header {
    margin-top: 0;
    color: $color-primary-darkest;
  }

  &__appt-type-container {
    @include media($SM) {
      @include row();
    }
  }

  &__appt-type-col {
    @include media($SM) {
      @include span-columns(1, 2);
    }
  }

  &__appt-type-item {
    font-size: $small-font-size;
  }
}

.usajobs-uhp-section-service--eligible {
  background-color: $color-green-lightest;
}

.usajobs-uhp-section-service--unsure {
  @include display(flex);
  @include align-items(center);
  background-color: $color-white;
  margin-left: 0;

  &__body {
    padding: $size-default;
  }

  &__head {
    color: $color-primary-darkest;
  }

  .fa {
    font-size: $h1-font-size;
    color: $color-secondary;
  }

  &__details {
    font-size: $small-font-size;
  }
}

.usajobs-uhp-section-service-merit {
  padding: $size-default;
  background-color: $color-secondary-lightest;

  &__head {
    margin-top: 0;
  }

  &__text {
    margin-bottom: 0;
    font-size: $small-font-size;

    svg {
      color: $color-secondary;
    }
  }
}

.usajobs-uhp-section-service-merit--eligible {
  background-color: $color-green-lightest;

  .usajobs-uhp-section-service-merit__text {
    font-weight: bold;

    svg {
      color: $color-green;
    }
  }
}

.usajobs-uhp-section-programs {
  @include unstyledList();
  @include clearfix();

  &__item {
    @include media($L) {
      @include span-columns(6, 12);
    }

    &:last-child {
      @include media($L) {
        @include omega();
        padding-left: $size-default;
      }
    }
  }

  &__sub-head.former {
    margin-top: $size-M;

    @include media($L) {
      margin-top: $size-L;
    }
  }

  &__title {
    color: $color-primary-darkest;
  }
}
