// Unique Hiring Path -- Page Layout

@import 'base-shared';

.usajobs-help-center-unique-hiring-path.usajobs-content-gutter {
  @include media($XXL) {
    padding-left: 0;
    padding-right: 0;
  }
}

.usajobs-uhp-section {
  @include clearfix();
  margin-bottom: $size-L;

  &__title {
    @include media($ML) {
      @include h3();
    }
  }

  &__col-left {
    @include media($ML) {
      @include span-columns(2,6);
    }
    @include media($L) {
      @include span-columns(4,12);
      @include pad(0 default 0 0);
    }
  }

  &__col-right {
    @include media($ML) {
      @include span-columns(4,6);
      @include omega();
      max-width: $article-max-width;
    }

    @include media($L) {
      @include span-columns(7,12);
    }
  }
}

.usajobs-uhp-section-outside-resources {
  @include unstyledList();
}

.usajobs-uhp-resource-cta {
  margin-bottom: $size-L;

  &__body {
    @include clearfix();
    display: block;
    padding: $size-default;
    background-color: $color-primary-alt-lightest;
    text-decoration: none;

    &:visited,
    &:hover {
      color: $color-base;
      text-decoration: none;
    }
  }

  &__text {
    color: $color-base;

    @include media($M) {
      margin: 0;
    }
  }

  &__img {
    width: rem(143px);
    text-align: center;

    @include media($M) {
      float: left;
      margin-right: $size-default;
    }
  }

  &__emphasis {
    text-decoration: underline;
  }
}

.usajobs-uhp-accordion-trigger {
  line-height: 1.5;

  &__sub-title {
    font-weight: normal;
  }
}

.usajobs-uhp-section-required-documents {
  @include unstyledList();
  @include clearfix();

  &__item {
    margin-bottom: $size-base;

    @include media($M) {
      @include span-columns(3, 6);
      margin-bottom: 0;
    }
  }

  &__single-item {
    margin-bottom: $size-base;

    @include media($M) {
      margin-bottom: 0;
    }
  }

  &__link {
    width: 100%;
    padding: $size-default $size-S;
    color: $color-primary;
    text-decoration: none;

    &:visited {
      color: $color-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__link:hover &__body {
    text-decoration: underline;
  }

  &__link .fa {
    font-size: $h1-font-size;
    color: $color-secondary-dark;
  }

  &__body {
    padding: 0 $size-default;
    font-style: italic;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__more {
  }
}

.no-flexbox .usajobs-uhp-section-required-documents {
  &__link {
    @include clearfix();
    display: table;
  }

  &__figure,
  &__body {
    display: table-cell;
  }

$icon-width: rem(68px);
$icon-padding: $size-default;
$body-padding: $size-M;
  &__body {
    @include calc(width, "100% - " (38px + 15px + 30px));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-uhp-section-required-documents {
  &__link {
    @include display(flex);
    @include align-items(center);
  }

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}
