{% assign section = site.data.unique-hiring-paths[include.page] %}
<div class="usajobs-uhp-banner usajobs-uhp-banner--{{ include.page }}">
  <div class="usajobs-uhp-banner__container">
{% if section.include-in-index %}
  {% if include.page != 'public' %}
    <picture>
      <source srcset="{{ site.baseurl }}/img/help-center/unique-hiring-paths/{{ include.page }}-L.png" media="(min-width: 37.5em)">
      <img srcset="{{ site.baseurl }}/img/help-center/unique-hiring-paths/{{ include.page }}-S.png" alt="{{ section.image-alt }}">
    </picture>
  {% endif %}
{% endif %}
    <div class="usajobs-uhp-banner__body">
      <div class="usajobs-uhp-banner__title-container">
        {% if section.icons %}
        <div class="usajobs-uhp-banner__multiple-icons fa-stack">
          <i class="fa fa-{{ section.icons.first }} fa-stack-1x is-first"></i>
          <i class="fa fa-{{ section.icons.last }} fa-stack-1x is-second"></i>
        </div>
        {% endif %}
        {% if section.icon %}
        <div class="usajobs-uhp-banner__icon {% if section.icon-no-image %}usajobs-uhp-banner__icon-no-image{% endif %}">
          <span class="fa fa-{{ section.icon }}"></span>
        </div>
        {% endif %}
        <h1 class="usajobs-uhp-banner__title">
          {{ section.title }}
        </h1>
      </div>
      <div class="usajobs-uhp-banner__text-container">
        <p class="usajobs-uhp-banner__text">
          {{ section.text }}
        </p>
      </div>
    </div>
  </div>
</div>
