<div class="usajobs-uhp-banner usajobs-uhp-banner--disability">
  <div class="usajobs-uhp-banner__container">
    <picture>
      <source srcset="{{ site.baseurl }}/img/unique-hiring-paths/disability-L.png" media="(min-width: 37.5em)">
      <img srcset="{{ site.baseurl }}/img/unique-hiring-paths/disability-S.png" alt="Invididual with a disability hero image" aria-describedby="Male writing with mechanical pencil on paper document.">
    </picture>
    <div class="usajobs-uhp-banner__body">
      <div class="usajobs-uhp-banner__title-container">
        <span class="fa fa-wheelchair"></span>
        <h1 class="usajobs-uhp-banner__title">
          Individual with a disability
        </h1>
      </div>
      <div class="usajobs-uhp-banner__text-container">
        <p class="usajobs-uhp-banner__text">
          If you're an individual with a disability, you can apply and compete for any job for which you are eligible and meet the qualifications, but you also may be eligible for a special hiring authority.
        </p>
      </div>
    </div>
  </div>
</div>
