{% assign section = site.data.unique-hiring-paths[include.page] %}
<div class="usajobs-uhp-search-banner">
  <div role="search" class="usajobs-uhp-search-banner__container">
    <form class="usa-search usa-search-big" action="https://www.usajobs.gov/Search/Results" id="uhp-search" method="get" novalidate="novalidate" role="search">
      <h3 class="usajobs-uhp-search-banner__title">
        Search Jobs
      </h3>
      <div class="usajobs-uhp-search-banner__filters-item" title="{{ section.search-filter-desc }}">
        <input type="hidden" name="hp" id="hp" value="{{ section.search-filter-value }}" class="usajobs-uhp-search-banner__filters-checkbox">
        <div class="usajobs-uhp-search-banner__filters-label">
          {% if section.icons %}
          <span class="usajobs-uhp-search-banner__filters-uhp-icon usajobs-uhp-search-banner__multiple-icons military-spouses fa-stack">
            <i class="fa fa-{{ section.icons.first }} fa-stack-1x is-first"></i>
            <i class="fa fa-{{ section.icons.last }} fa-stack-1x is-second"></i>
          </span>
          {% endif %}
          {% if section.icon %}
          <span class="usajobs-uhp-search-banner__filters-uhp-icon {{ include.page }}">
            <i class="fa fa-{{ section.icon }}"></i>
          </span>
          {% endif %}
          <span>
            {{ section.title }}
          </span>
        </div>
        <p class="usajobs-uhp-search-banner__filters-desc">
          Look for this option under the <strong>Hiring Path</strong> filter when searching.
        </p>
      </div>
      <fieldset>
        <div class="usajobs-nav__search-keywords-container">
          <label for="k">
            <i class="usajobs-nav__search-keywords-icon fa fa-search"></i>
            Keywords
          </label>
          <input id="k" name="k" class="usajobs-nav__search-keywords-input" placeholder="Job title, dept., agency, series, or keyword" type="text" value="" autocomplete="off">
        </div>
        <div class="usajobs-nav__search-location-container">
          <label for="l">
            <i class="usajobs-nav__search-location-icon fa fa-map-marker"></i>
            Location
          </label>
          <input id="uhp-location" name="l" type="text" class="usajobs-nav__search-location-input" placeholder="City, state, zip, or country" value="" autocomplete="off">
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input type="hidden" id="inner-AutoCompleteSelected" name="innerAutoCompleteSelected">
          <div id="search-inner-autocomplete-container"></div>
        </div>
        <div class="usajobs-nav__search-button-container usajobs-uhp-search-banner__button-container">
          <button class="usa-button usa-button-primary-alt usajobs-nav__search-button">
            Search
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
