<div class="usajobs-uhp-section-nav">
  <h2 class="usajobs-uhp-section__title">Hiring paths</h2>
  <ul class="usajobs-uhp-section-nav__list">
{% for path in site.data.unique-hiring-paths %}
{%   assign path_name = path[0] %}
{%   assign section = site.data.unique-hiring-paths[path_name] %}
    {% if section.include-in-index %}
    <li class="usajobs-uhp-section-nav__item {% if include.page == section.link-path %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/{{ section.link-path }}/">
        <div class="usajobs-uhp-section-nav__figure">
          <svg class="usajobs-uhp-section-nav__icon">
            <use xlink:href="#{{ section.icon }}"></use>
          </svg>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            {{ section.title }}
          </h3>
        </div>
      </a>
    </li>
    {% endif %}
{% endfor %}
  </ul>
</div>
