<div class="usajobs-uhp-section-nav">
  <h2 class="usajobs-uhp-section__title">Unique hiring paths</h2>
  <ul class="usajobs-uhp-section-nav__list">
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'federal-employees' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/federal-employees/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon federal-employees">
            <i class="fa fa-institution"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Federal employees
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'veterans' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/veterans/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon veterans">
            <i class="fa fa-shield"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Veterans
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'students' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/students/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon students">
            <i class="fa fa-graduation-cap"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Students &amp; recent graduates
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'ses' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/senior-executives/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon ses">
            <i class="fa fa-briefcase"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Senior executives
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'former-overseas-employees' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/former-overseas-employees/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon former-overseas-employees">
            <i class="fa fa-plane"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Former overseas employees
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'disability' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/individuals-with-disabilities/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon individuals-with-disabilities">
            <i class="fa fa-wheelchair"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Individuals with a disability
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'military-spouses' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/military-spouses/">
        <div class="usajobs-uhp-section-nav__figure">
          <span class="usajobs-uhp-section-nav__icon military-spouses">
            <div class="fa fa-shield"></div> <div class="fa fa-user"></div>
          </span>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Military spouses
          </h3>
        </div>
      </a>
    </li>
    <li class="usajobs-uhp-section-nav__item {% if include.page == 'peace-corps' %}is-active{% endif %}">
      <a class="usajobs-uhp-section-nav__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/peace-corps/">
        <div class="usajobs-uhp-section-nav__figure">
          <div class="usajobs-uhp-section-nav__icon peace-corps">
            <i class="fa fa-flag"></i>
          </div>
        </div>
        <div class="usajobs-uhp-section-nav__body">
          <h3 class="usajobs-uhp-section-nav__item-title">
            Peace Corps or AmeriCorps VISTA alumni
          </h3>
        </div>
      </a>
    </li>
  </ul>
</div>
