<div class="usajobs-uhp-search-banner usajobs-uhp-search-banner--students">
  <div role="search" id="search" class="usajobs-uhp-search-banner__container">
    <h3 class="usajobs-uhp-search-banner__title">
      Begin your search
      <span class="fa fa-search usajobs-uhp-search-banner__search-icon"></span>
    </h3>
    <fieldset>
      <div class="usajobs-uhp-search-banner--students__button-container">
        <a href="https://www.usajobs.gov/Search/GetResults?Internship=Yes" class="usa-button usa-button-primary-alt usajobs-uhp-search-banner--students__button">
          Search Internship Jobs
        </a>
        <a href="https://www.usajobs.gov/Search/GetResults?RecentGrad=Yes" class="usa-button usa-button-primary-alt usajobs-uhp-search-banner--students__button">
          Search Recent Graduates Jobs
        </a>
      </div>
    </fieldset>
  </div>
</div>
