  <!--[if lt IE 9]>
    <script src="{{ site.baseurl }}/js/vendor/selectivizr-min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/respond.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/rem.min.js"></script>
  <![endif]-->
  <script src="{{ site.baseurl }}/js/search.min.js"></script>
  <script src="{{ site.baseurl }}/js/usajobs-help-center.js"></script>
  <script id="_fed_an_ua_tag" src="https://www.opm.gov/js/GSAAnalytics-min.js" type="text/javascript" defer></script>

{% include base.html %}
{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#entries}}
    <article>
      <a class="usajobs-help-center-search__result" href="/Help{{ url }}">
        {{title}}
      </a>
    </article>
  {{/entries}}
  {{^entries}}
  <p>Sorry, no help articles where found.</p>
  <h4>Search Suggestions</h4>
  <ul>
    <li>Check your spelling.</li>
    <li>Try using different, or more general, keywords.</li>
  </ul>
  {{/entries}}
</script>
{% endraw %}

<script type="text/javascript">
  $(function() {
    $('#search-query').lunrSearch({
      indexUrl: '{{ site.baseurl }}/js/index.json',   // Url for the .json file containing search index data
      results : '#search-results',  // selector for containing search results element
      entries : '.entries',         // selector for search entries containing element (contained within results above)
      template: '#search-results-template'  // selector for Mustache.js template
    });
  });
</script>
