---
permalink: /working-in-government/unique-hiring-paths/individuals-with-disabilities/
layout: unique-hiring-path
section: working-in-government
title: Individuals with disabilities
breadcrumb: Individuals with disabilities
category: Unique Hiring Paths
tags: [disabilities, disabled, disability]
short-name: individuals-with-disabilities
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>The Federal Government hires each person using a hiring authority (the term comes from the Federal regulation that describes it). Federal agencies can use the Schedule A Hiring Authority to hire an individual with a disability.</p>

    <ul class="usajobs-drawer" data-object="help-accordion">
      <li>
        <button class="usajobs-drawer-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="schedule-a" data-behavior="help-accordion.toggle">
          Schedule A Hiring Authority
        </button>
        <div id="schedule-a" aria-hidden="true" class="usajobs-drawer-content usajobs-uhp-accordion-content">
          <p>Schedule A refers to a special hiring authority that gives Federal agencies an optional, and potentially quicker, way to hire individuals with disabilities.  Applying under Schedule A offers an exception to the traditional competitive hiring process. You can apply for jobs using Schedule A, if you are a person with an intellectual disability, a severe physical disability, or a psychiatric disability.</p>

          <p>To be eligible for Schedule A, you must provide a "proof of a disability" letter stating that you have an intellectual disability, severe physical disability or psychiatric disability. You can get this letter from your doctor, a licensed medical professional, a licensed vocational rehabilitation specialist, or any federal, state, or local agency that issues or provides disability benefits.</p>

          <p>Applying using "Schedule A" can be a great way to get a Federal job, but it is only one of many options that may be available and you still have to compete with other eligible applicants.  Federal agencies hire people using many options, so applying under "Schedule A" does not guarantee you a job.</p>
        </div>
      </li>
      <li>
        <button class="usajobs-drawer-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="tips-schedule-a" data-behavior="help-accordion.toggle">
          Tips for applying under Schedule A
        </button>
        <div id="tips-schedule-a" aria-hidden="true" class="usajobs-drawer-content usajobs-uhp-accordion-content">
          <ul class="usajobs-list-bullets">
            <li>Mention your eligibility and that you want to be considered for "Schedule A" on your resume (and in your cover letter, if you use one).</li>
            <li>Select the "Schedule A Disabled" option in your USAJOBS account profile on the "Special Hiring Options" page – this helps your resume be searchable by agencies that want to find people who may be eligible to apply under "Schedule A".</li>
          </ul>
        </div>
      </li>
    </ul>
    <p>
      <a href="https://www.opm.gov/policy-data-oversight/disability-employment/getting-a-job/#url=Schedule-A-Hiring-Authority" class="usajobs-help-center__external-link" target="_blank">
        Learn more about eligibility for Schedule A <span class="fas fa-external-link-alt"></span>
      </a>
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to individuals with a disability?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Individuals with a disability</strong> you’ll see this icon:<svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"><use xlink:href="#{{ hp.icon }}" title="Individuals with disabilities"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Individuals with disabilities</strong> filter in search. Your results will display all jobs open to individuals with disabilities.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Selective Placement Program Coordinator (SPPC)
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Selective Placement Program Coordinators (SPPC) help agencies recruit, hire, and accommodate people with disabilities. The SPPC can guide you through the application process and answer questions. Most federal agencies, but not all, have an SPPC or equivalent role, such as a Special Emphasis Program Manager.
    </p>
    <p>
      If you are a person with a disability and interested in a job opportunity, contact the agency SPPC using the <a class="usajobs-help-center__external-link" href="https://www.opm.gov/policy-data-oversight/disability-employment/selective-placement-program-coordinator-directory/" target="_blank">Selective Placement Program Coordinator directory <span class="fas fa-external-link-alt"></span></a>.
    </p>
    <p>
      <a class="usajobs-help-center__external-link" href="https://www.opm.gov/policy-data-oversight/disability-employment/selective-placement-program-coordinator/" target="_blank">Learn more about the Selective Placement Coordinator <span class="fas fa-external-link-alt"></span></a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Accommodating individuals with a disability
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Federal agencies are required by law to provide reasonable accommodations to qualified applicants and employees with disabilities, unless doing so will result in undue hardship to the agency. The accommodations make it easier for an employee, with a disability, to successfully perform the duties of the position. For example, an agency may offer:
    </p>
    <ul>
      <li>Interpreters, readers, or other personal assistance</li>
      <li>Modified position duties</li>
      <li>Flexible work schedules or work sites</li>
      <li>Accessible technology or other workplace adaptive equipment</li>
    </ul>

    <p>
      You can request reasonable accommodations any time during the hiring process or at any time while on the job. Requests are considered on a case-by-case basis.
    </p>

    <p>
      To request a reasonable accommodation:
    </p>

    <ol>
      <li>Look at the job posting for instructions on requesting a reasonable accommodation.</li>
      <li>Work directly with the person arranging the interviews.</li>
      <li>Contact the agency SPPC.</li>
      <li>Request a reasonable accommodation verbally or in writing; no special language is needed.</li>
    </ol>

    <p>
      <a class="usajobs-help-center__external-link" href="https://www.opm.gov/policy-data-oversight/disability-employment/reasonable-accommodations/" target="_blank">Learn more about reasonable accommodation requests <span class="fa fa-external-link"></span></a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <div class="usajobs-uhp-section-required-documents__doc">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              Disability letter
            </div>
          </div>
        </div>
        <p>
          A disability letter from you doctor or a licensed medical professional that proves your eligibility for Schedule A appointment
        </p>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.eeoc.gov/eeoc/publications/abc_applicants_with_disabilities.cfm" target="_blank">
          ABCs of Schedule A (EEOC) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.opm.gov/policy-data-oversight/disability-employment/" target="_blank">
          Disability employment (OPM) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.fedshirevets.gov/job/shav/index.aspx" target="_blank">
          Hiring options for veterans with disabilities (FedsHireVets) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.opm.gov/policy-data-oversight/disability-employment/recruiting/#url=OPM-CHCO-Shared-List-of-People-with-Disabilities" target="_blank">
          OPM Chief Human Capital Officers' Shared List of People with Disabilities (OPM) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.opm.gov/policy-data-oversight/disability-employment/reasonable-accommodations/" target="_blank">
          Reasonable accommodations (OPM) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="http://www.opm.gov/policy-data-oversight/disability-employment/selective-placement-program-coordinator-directory/" target="_blank">
          Selective Placement Program Coordinator directory (OPM) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://wrp.gov/AboutPre.do" target="_blank">
          Workforce Recruitment Program (WRP) <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
