---
permalink: /working-in-government/unique-hiring-paths/military-spouses/
layout: unique-hiring-path
section: working-in-government
title: Military Spouses
breadcrumb: Military Spouses
category: Unique Hiring Paths
tags: [veterans, military, spouse]
short-name: military-spouses
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Federal agencies can use the military spouse non-competitive hiring process to fill positions on either a temporary or permanent basis.
    </p>
    <p>
      You’re eligible if you are:
    </p>
    <ul>
      <li>A spouse of an active duty member of the armed forces.</li>
      <li>A spouse of a service member who is 100% disabled due to a service-connected injury.</li>
      <li>A spouse of a service member killed while on active duty.</li>
    </ul>
    
    <p>You are no longer eligible if you remarry.</p>
  
    <p>
      You must meet certain criteria for each of these eligibility categories. <a href="https://www.fedshirevets.gov/job/shams/" target="_blank">Learn more about the specific criteria for military spouses</a>.
    </p>
    <p>
      Your eligibility does not entitle you to a job within the Federal Government. You must still apply and meet qualification standards and additional requirements, such as a background investigation.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to military spouses?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Military Spouses</strong> you’ll see this icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}" role="img"><title>Military spouses</title><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Military spouses</strong> filter in search. Your results will display all jobs open to military spouses.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <div class="usajobs-uhp-section-required-documents__doc">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              Documentation verifying marriage
            </div>
            For example, a marriage certificate.
          </div>
        </div>
      </li>
      <li class="usajobs-uhp-section-required-documents__single-item">
        <div class="usajobs-uhp-section-required-documents__doc">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              A copy of your spouse's active military orders
            </div>
          </div>
        </div>
      </li>
      <li class="usajobs-uhp-section-required-documents__single-item">
        <a class="usajobs-uhp-section-required-documents__link" href="http://www.archives.gov/veterans/military-service-records/" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              DD-214
            </div>
            Certificate of Release or Discharge from Active Duty
          </div>
        </a>
        <p>
          Military spouses of 100% disabled separated or retired veterans and widows or widowers, who are not remarried, of military service members who were killed on active duty.
        </p>
      </li>
      <li class="usajobs-uhp-section-required-documents__single-item">
        <a class="usajobs-uhp-section-required-documents__link" href="http://www.archives.gov/veterans/military-service-records/" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              DD 1300
            </div>
            Report of Casualty
          </div>
        </a>
        <p>
          Military spouses who are widows and widowers, and are not remarried, of military service members who were killed on active duty.
        </p>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Additional resources</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.fedshirevets.gov/job/shams/" target="_blank">
          Special hiring authorities for military spouses and family members (Feds Hire Vets)
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
