// Banner

@import 'base-shared';

.usajobs-help-center-search-banner,
.usajobs-help-center-search-banner--with-nav,
.usajobs-help-center-title-banner {
  padding-top: $size-default;
  background: $color-primary-darkest;
  background-image: url("../img/helpcenter_star.png");
  background-image: url("../img/helpcenter_star.svg");
  background-position: right top;
  background-repeat: no-repeat;

  &.home {
    @include media($ML) {
      padding-top: $size-XL;
      padding-bottom: ($size-XXL + rem(44px)); // 44px = height of search bar
    }
  }

  &__container {
    max-width: $site-max-width;
    @include contentGutter();

    @include media($ML) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    color: $color-white;
    margin-bottom: $size-default;
  }

  &__link {
    color: $color-white;

    &:visited,
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  .usa-search {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;

    input[type=search] {
      @include media($ML) {
      }
    }
  }
}

.usajobs-help-center-search-banner {
  padding-bottom: $size-M;

  @include media($M) {
    padding-bottom: $size-L;
  }
}

.usajobs-help-center-search-banner--with-nav {
  .usa-search {
    padding-bottom: $size-M;

    @include media($M) {
      padding-bottom: $size-L;
    }
  }
}

.usajobs-help-center-title-banner {
  padding: $size-L 0;

  @include media($M) {
    padding: $size-XXL 0;
  }
}

.usajobs-help-center-title-banner.about {
  background-image: none;
}

.usajobs-uhp-banner {
  &__container {
    max-width: $site-max-width;

    @include media($ML) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__body {
    position: relative;
    @include clearfix();
    @include contentGutter();
    margin-top: rem(-10px);
    padding-top: $size-L;
    padding-bottom: $size-L;
  }

  &__title-container,
  &__text-container {
    @include media($ML) {
      @include span-columns(3,6);
    }
  }

  &__title-container {
    @include media($L) {
      @include span-columns(4,12);
    }

    .fa {
      margin-top: rem(-100px);
      margin-left: auto;
      margin-right: auto;
      font-size: rem(82px);
      text-align: center;
    }
  }

  &__text-container {
    @include media($L) {
      @include span-columns(8,12);
    }
  }

  &__title {
    margin-top: $size-L;
    text-align: center;

    @include media($ML) {
      @include h2();
      margin-top: $size-XL;
    }
  }

  &__text {
    @include h3();
    font-family: $font-serif;
    font-weight: normal;
    line-height: $lead-line-height;
  }

  &__title,
  &__text {
    color: $color-white;
  }
}

@mixin makeSemiCircle($size, $bg-color: inherit, $color: $color-white) {
  display: inline-block;
  width: $size;
  height: $size /2;
  line-height: $size;
  -moz-border-radius: $size $size 0 0;
  -webkit-border-radius: $size $size 0 0;
  border-radius: $size $size 0 0;
  color: $color;
  background-color: $bg-color;
}

.usajobs-uhp-banner--disability {
  .usajobs-uhp-banner__body {
    background-color: $color-primary-darker;
  }

  .usajobs-uhp-banner__title-container .fa {
    @include makeSemiCircle(rem(164px), $color-primary-darker);
    display: block;
  }
}

.usajobs-uhp-banner--ses,
.usajobs-uhp-banner--federal-employees {
  .usajobs-uhp-banner__body {
    background-color: $color-primary-darkest;
  }

  .usajobs-uhp-banner__title-container .fa {
    @include makeSemiCircle(rem(164px), $color-primary-darkest);
    display: block;
  }
}

.usajobs-uhp-banner--students {
  .usajobs-uhp-banner__body {
    color: $color-base;
    background-color: $color-gold;
  }

  .usajobs-uhp-banner__title,
  .usajobs-uhp-banner__text {
    color: $color-base;
  }

  .usajobs-uhp-banner__title-container .fa {
    @include makeSemiCircle(rem(164px), $color-gold, $color-base);
    display: block;
  }
}

.usajobs-uhp-banner--veterans,
.usajobs-uhp-banner--military-spouses {
  .usajobs-uhp-banner__body {
    background-color: $color-green;
  }

  .usajobs-uhp-banner__title-container .fa {
    @include makeSemiCircle(rem(164px), $color-green);
    display: block;
  }
}
