// Banner

@import 'base-shared';

$icon-size: rem(164px);

.usajobs-help-center-search-banner,
.usajobs-help-center-search-banner--with-nav,
.usajobs-help-center-title-banner {
  padding-top: $size-default;
  background: $color-primary-darkest;
  background-image: url('../img/help-center/helpcenter_star.png');
  background-image: url('../img/help-center/helpcenter_star.svg');
  background-position: right top;
  background-repeat: no-repeat;

  &.home {
    @include media($ML) {
      padding-bottom: 6.5rem;
      padding-top: $size-default;
    }
  }

  &__container {
    @include contentGutter();
    max-width: $site-max-width-L;

    @include media($ML) {
      margin-left: auto;
      margin-right: auto;
    }

    @include media($XXXXL) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__title {
    color: $color-white;
    margin-bottom: $size-default;
  }

  &__link {
    color: $color-white;
    text-decoration: none;

    &:visited,
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  .usa-search {
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width-L;

    [type="submit"] {
      background-image: url('../img/help-center/search.png');
      background-image: url('../img/help-center/search.svg');

      @include media($SM) {
        background-image: inherit;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // IE hack. SVGs cannot be positioned in IE
  .usajobs-help-center-search-banner,
  .usajobs-help-center-search-banner--with-nav,
  .usajobs-help-center-title-banner {
    background-image: url('../img/help-center/helpcenter_star.png');
  }
}

.usajobs-help-center-search-banner {
  padding-bottom: $size-M;

  @include media($M) {
    padding-bottom: $size-L;
  }
}

.usajobs-help-center-search-banner--with-nav {
  .usa-search {
    padding-bottom: $size-M;

    @include media($M) {
      padding-bottom: $size-L;
    }
  }
}

.usajobs-help-center-title-banner {
  padding: $size-L 0;

  @include media($M) {
    padding: $size-XXL 0;
  }

  &.about {
    background-image: none;
  }
}

.usajobs-uhp-banner {
  &__container {
    max-width: $site-max-width;

    @include media($ML) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__body {
    @include clearfix();
    @include contentGutter();
    position: relative;
    margin-top: rem(-10px);
    padding-top: $size-L;
    padding-bottom: $size-L;
  }

  &__title-container,
  &__text-container {
    @include media($ML) {
      @include span-columns(3, 6);
    }
  }

  &__title-container {
    @include media($L) {
      @include span-columns(4, 12);
    }
  }

  &__multiple-icons,
  &__icon .fa {
    margin-top: rem(-100px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__icon-no-image .fa {
    margin-top: 0;
  }

  &__multiple-icons {
    font-size: rem(62px);

    .fa.is-first {
      text-indent: 0;
      top: -6px;
      left: -14px;
      opacity: 0.8;
    }

    .fa.is-second {
      text-indent: 0;
      left: 12px;
    }
  }

  &__icon .fa {
    font-size: rem(82px);
  }

  &__text-container {
    @include media($L) {
      @include span-columns(8, 12);
    }
  }

  &__title {
    margin-top: $size-XL;
    text-align: center;

    @include media($ML) {
      @include h2();
      margin-top: $size-XL;
    }
  }

  &__text {
    @include h3();
    font-family: $font-serif;
    font-weight: normal;
    line-height: $lead-line-height;
  }

  &__title,
  &__text {
    color: $color-white;
  }
}

.usajobs-uhp-banner--disability {
  .usajobs-uhp-banner__body {
    background-color: $color-primary-darker;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-primary-darker);
    display: block;
  }
}

.usajobs-uhp-banner--former-overseas-employees {
  .usajobs-uhp-banner__body {
    background-color: $color-primary-alt-darkest;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-primary-alt-darkest);
    display: block;
  }
}

.usajobs-uhp-banner--land-management {
  .usajobs-uhp-banner__body {
    background-color: $color-gray-warm-dark;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-gray-warm-dark);
    display: block;
  }
}

.usajobs-uhp-banner--military-spouses {
  .usajobs-uhp-banner__multiple-icons {
    @include makeSemiCircle($icon-size, $color-green);
    display: block;
  }
}

.usajobs-uhp-banner--national-guard {
  .usajobs-uhp-banner__body {
    background-color: $color-secondary;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-secondary);
    display: block;
  }
}

.usajobs-uhp-banner--native-americans {
  .usajobs-uhp-banner__body {
    background-color: $color-gray;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-gray);
    display: block;
  }
}

.usajobs-uhp-banner--peace-corps {
  .usajobs-uhp-banner__body {
    background-color: $color-visited;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-visited);
    display: block;
  }
}

.usajobs-uhp-banner--public {
  .usajobs-uhp-banner__container {
    max-width: inherit;
    background-color: $color-gray-lightest;
  }

  .usajobs-uhp-banner__body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: $site-max-width;
    background-color: $color-gray-lightest;

    @include media($XXL) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .usajobs-uhp-banner__text-container {
    margin-top: $size-L;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeCircle($icon-size, $color-primary-alt);
    background-color: $color-primary-alt;
    display: block;
  }

  .usajobs-uhp-banner__title,
  .usajobs-uhp-banner__text {
    color: $color-base;
  }
}

.usajobs-uhp-banner--ses,
.usajobs-uhp-banner--federal-employees {
  .usajobs-uhp-banner__body {
    background-color: $color-primary-darkest;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-primary-darkest);
    display: block;
  }
}

.usajobs-uhp-banner--students {
  .usajobs-uhp-banner__body {
    color: $color-base;
    background-color: $color-gold;
  }

  .usajobs-uhp-banner__title,
  .usajobs-uhp-banner__text {
    color: $color-base;
  }

  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-gold, $color-base);
    display: block;
  }
}

.usajobs-uhp-banner--veterans,
.usajobs-uhp-banner--military-spouses {
  .usajobs-uhp-banner__body {
    background-color: $color-green;
  }
}

.usajobs-uhp-banner--veterans {
  .usajobs-uhp-banner__icon .fa {
    @include makeSemiCircle($icon-size, $color-green);
    display: block;
  }
}

// Search banners used in UHP pages
.usajobs-uhp-search-banner {
  @include clearfix();
  @include contentGutter();
  margin-left: -#{$size-default};
  margin-right: -#{$size-default};
  margin-bottom: $size-L;
  padding-top: $size-default;
  padding-bottom: $size-default;
  background: $color-gray-cool-light;

  @include media($ML) {
    margin-left: -#{$size-M};
    margin-right: -#{$size-M};
  }

  &__title {
    text-align: center;
  }

  .usajobs-nav__search-button {
    padding-left: $size-S;
    padding-right: $size-S;
  }

  &__filters-item {
    @include row();
    margin-top: $size-default;
    text-align: center;

    @include media($L) {
      margin-top: $size-M;
    }
  }

  &__filters-label {
    margin-top: 0;
    max-width: inherit;
  }

  &__filters-desc {
    margin-top: $size-XS;
    font-size: $small-font-size;
  }

  &__filters-uhp-icon {
    @include UHPIcons(29px);
  }

  // patching design system
  &__filters-uhp-icon.disability {
    @include makeCircle('29px', none, $color-primary-darker);
  }

  &__filters-uhp-icon.land-management {
    @include makeCircle('29px', none, $color-gray-warm-dark);
  }

  &__button-container {
    @include media($L) {
      text-align: left;
    }
  }
}

.usajobs-uhp-search-banner--students {
  &__button-container {
    text-align: center;
  }
}
