// Breadcrumbs

@import 'base-shared';

.usajobs-help-center-breadcrumb {
  @include unstyledList();
  @include contentGutter();
  width: 100%;
  max-width: $site-max-width;
  margin-left: auto;
  margin-right: auto;

  li.usajobs-help-center-breadcrumb__item {
    display: inline-block;
  }

  &__link {
    font-size: $small-font-size;

    &:visited {
      color: $color-primary;
    }

    &:after {
      content: ' / ';
      color: $color-base;
    }

    &.is-active {
      color: $color-base;

      &:visited {
        color: $color-base;
      }

      &:after {
        content: '';
      }
    }
  }
}

