// Breadcrumbs

@import 'base-shared';

.usajobs-help-center-breadcrumb {
  background-color: $color-gray-lightest;

  &__list {
    @include unstyledList();
    @include contentGutter();
    width: 100%;
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  &__list &__item {
    display: inline-block;
  }

  &__link {
    font-size: $small-font-size;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      color: $color-primary;
    }

    &:after {
      content: ' / ';
      color: $color-base;
    }

    &.is-active {
      color: $color-base;

      &:visited {
        color: $color-base;
      }

      &:after {
        content: '';
      }
    }
  }
}

.usajobs-help-center-breadcrumb--uhp {
  margin: $size-default 0;
  background-color: $color-white;

  @include media($ML) {
    margin: 0;
  }

  .usajobs-help-center-breadcrumb__list {
    @include media($ML) {
      padding-top: $size-M;
      padding-bottom: $size-M;
    }
  }
}

