// Home CTAs

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-help-center-home__start-about-container {
  @include media($M) {
    background-image: linear-gradient(to right, $color-cool-blue, $color-cool-blue 50%, $color-gray-dark 50%, $color-gray-dark 100%);
  }
}

.usajobs-help-center-home-get-started,
.usajobs-help-center-home-about-usajobs {
  padding: $size-default $size-M;

  &__text {
    color: $color-white;
  }
}

.usajobs-help-center-home-get-started {
  background-color: $color-cool-blue;

  @include media($M) {
    background-color: inherit;
  }

  &__title {
    color: $color-primary-alt-light;
  }
}

.usajobs-help-center-home-about-usajobs {
  background-color: $color-gray-dark;

  @include media($M) {
    background-color: inherit;
  }

  &__title {
    color: $color-gold;
  }
}

