// Nav - Secondary

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';
@import 'element/typography';

.usajobs-help-center-nav-secondary {
  $icon_width: 42px;

  &__body {
    @include outer-container();
    max-width: $site-max-width;

    @include media($SM) {
      padding-left: $size-default;
      padding-right: $size-default;
    }

    @include media($ML) {
      padding-left: $size-M;
      padding-right: $size-M;
    }

    a {
      // Another override of the base styles just to be certain we don't have
      // underlined links in the nav
      text-decoration: none;
    }
  }

  &__menu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

  &__container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    &:before,
    &:after {
      content: none;
    }

    &.is-active .usajobs-help-center-nav-secondary__item {
      font-weight: bold;
      color: $color-white;
    }

    &.faq.is-active {
      border-bottom: 3px solid $color-primary-alt;
    }

    &.how-to.is-active {
      border-bottom: 3px solid $color-green-light;
    }

    &.working-in-government.is-active {
      border-bottom: 3px solid $color-gold;
    }
  }

  &__item {
    @include clearfix();
    display: block;
    padding: $size-S $size-default;
    font-size: $base-font-size;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-gray-light;

    @include media($SM) {
      padding: $size-default $size-M;
    }

    &:visited {
      color: $color-gray-light;
    }

    &:hover {
      color: $color-gray-lightest;
      text-decoration: none;
    }
  }

  &__text {
    display: block;

    @include media($M) {
      display: inline-block;
    }
  }

  &__text-long {
    display: none;

    @include media($M) {
      display: inline-block;

      &:hover {
        color: $color-gray-lightest;
        text-decoration: none;
      }
    }
  }
}
