// Nav - Secondary

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import "font-awesome/font-awesome";
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';
@import 'element/typography';

.usajobs-help-center-nav-secondary {
  $icon_width: 42px;
  background-color: $color-primary-darkest;

  &__body {
    @include outer-container();
    max-width: $site-max-width;

    @include media($ML) {
      padding-left: $size-M;
      padding-right: $size-M;
    }

    a {
      // Another override of the base styles just to be certain we don't have
      // underlined links in the nav
      text-decoration: none;
    }
  }

  &__menu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

  &__container {
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    margin: 0;
    padding: 0;
    background-color: $color-primary-darker;
    border-right: 1px solid $color-primary-darkest;

    &:before,
    &:after {
      content: none;
    }

    &:last-child {
      border-right: 0;
    }

    &.is-active {
      @include boxShadow(1, true);
      background-color: darken($color-primary-darker, 5%);
    }

    &.faq {
      .fa {
        @include makeCircle($icon_width, $color-primary-alt, none, $color-primary-alt);
        color: $color-primary-alt;
      }
    }

    &.how-to {
      .fa {
        @include makeCircle($icon_width, $color-green-light, none, $color-green-light);
        color: $color-green-light;
      }
    }

    &.working-in-government {
      .fa {
        @include makeCircle($icon_width, $color-gold, none, $color-gold);
        color: $color-gold;

        &:before {
          margin-right: -2px; // fix for out of alignment icon
        }
      }
    }
  }

  &__item {
    @include clearfix();
    display: block;
    padding: $size-S $size-default;
    font-size: $base-font-size;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $color-white;

    @include media($SM) {
      text-align: left;
    }

    @include media($ML) {
      padding: $size-default $size-M;
    }

    &:visited {
      color: $color-white;
    }

    &:hover {
      @include boxShadow(1);
    }

    .fa {
      margin-bottom: $size-S;
      font-size: $h4-font-size;
      text-align: center;

      @include media($SM) {
        float: left;
        margin-bottom: 0;
      }
    }
  }

  &__text {
    display: block;

    @include media($SM) {
      float: left;
      @include calc('width', "100% - #{$icon_width}");
      padding-top: $size-base;
      padding-left: $size-S;
    }

    @include media($M) {
      display: inline-block;
    }
  }

  &__text-long {
    display: none;

    @include media($M) {
      display: inline-block;
    }
  }
}
