// Search Banner

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-help-center-search-banner,
.usajobs-help-center-search-banner--with-nav {
  padding-top: $size-default;
  background: $color-primary-darkest;
  background-image: url("../img/helpcenter_star.png");
  background-image: url("../img/helpcenter_star.svg");
  background-position: right top;
  background-repeat: no-repeat;

  &.home {
    @include media($ML) {
      padding-top: $size-XL;
      padding-bottom: ($size-XXL + rem(44px)); // 44px = height of search bar
    }
  }

  &__container {
    max-width: $site-max-width;
    @include contentGutter();

    @include media($ML) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    color: $color-white;
    margin-bottom: $size-default;
  }

  &__link {
    color: $color-white;

    &:visited,
    &:hover {
      color: $color-white;
      text-decoration: none;
    }
  }

  .usa-search {
    max-width: $site-max-width;
    margin-left: auto;
    margin-right: auto;

    input[type=search] {
      @include media($ML) {
      }
    }
  }
}

.usajobs-help-center-search-banner {
  padding-bottom: $size-M;

  @include media($M) {
    padding-bottom: $size-L;
  }
}

.usajobs-help-center-search-banner--with-nav {
  .usa-search {
    padding-bottom: $size-M;

    @include media($M) {
      padding-bottom: $size-L;
    }
  }
}

