// Services - Infographic

@import 'base-shared';


.usajobs-help-services--infographic {
  width: 100%;
  margin: $size-M 0;
  background-color: $color-primary-darkest;
  color: $color-primary-alt;
  text-decoration: none;

  &:visited,
  &:active,
  &:hover {
    color: $color-primary-alt;
  }

  &:hover {
    text-decoration: none;

    &__body {
      text-decoration: underline;
    }
  }

  &__figure {
    padding-top: $size-base;
    padding-left: $size-default;
  }

  &__body {
    padding: 0 $size-default;
  }

  &__title {
    margin-top: 0;
  }

  &__desc {
    margin-bottom: 0;
  }
}

.no-flexbox .usajobs-help-services--infographic {
  @include clearfix();
  display: table;

  &__figure,
  &__body {
    display: table-cell;
  }

  $icon-width: rem(100px);
  $icon-padding: $size-default;
  $body-padding: $size-M;

  &__body {
    @include calc(width, "100% - " (38px + 15px + 30px));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-help-services--infographic {
  @include display(flex);
  @include align-items(center);

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}
