// Unique Hiring Paths

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

$icon-width: rem(68px);
$icon-padding: $size-default;
$body-padding: $size-M;

.usajobs-unique-hiring-paths-container {
  @include outer-container();
  max-width: $site-max-width;
  background-color: $color-gray-lightest;

  @include media($M) {
    padding-left: $size-M;
    padding-right: $size-M;
  }

}

.usajobs-unique-hiring-paths {
  @include contentGutter();

  &__outer-body {
    @include clearfix();
    padding: $size-M;
    background-color: $color-white;

    @include media($ML) {
      margin-bottom: $size-XL;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    padding-left: $size-default;
    padding-right: $size-default;
  }

  &__list {
    @include unstyledList();
    width: 100%;

    .usajobs-unique-hiring-paths__item {
      display: inline-block;
      width: 100%;

      @include media($ML) {
        @include span-columns(3,6);
      }

      &:nth-child(2n) {
        @include media($ML) {
          @include omega();
        }
      }
    }
  }

  &__list > &__item {
    position: relative;
    border: 1px solid $color-gray-lighter;
    border-radius: rem(3px);
    margin-bottom: $size-default;
  }

  &__im {
    display: block;
    font-size: $h4-font-size;
  }

  &__icon {
    @include makeCircle(68px, none, $color-primary-darker);
    display: inline-block;
    padding-bottom: $size-default;
    font-size: $h2-font-size;
    text-align: center;
  }

  &__icon {
    &.federal-employees,
    &.ses {
      @include makeCircle(68px, none, $color-primary-darkest);
    }

    &.veterans,
    &.military-spouses {
      @include makeCircle(68px, none, $color-secondary);
    }

    &.military-spouses {
      .fa {
        font-size: $h3-font-size;
      }
    }

    &.students {
      @include makeCircle(68px, none, $color-gold);
    }

    &.individuals-with-disabilities {
      @include makeCircle(68px, none, $color-green);
    }
  }

  &__link {
    width: 100%;
    padding: $size-default $size-S;
    color: $color-primary;

    @include media($ML) {
      min-height: rem(215px);
    }
    @include media($L) {
      min-height: rem(170px);
    }

    &:visited {
      color: $color-primary;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__link:hover &__item-title {
    text-decoration: underline;
  }

  &__body {
    padding: 0 $size-default;
  }

  &__item-title {
    margin-top: 0;
  }

  &__text {
    display: block;
    width: 100%;
    margin: 0;
    color: $color-base;
  }
}


.no-flexbox .usajobs-unique-hiring-paths {
  &__link {
    @include clearfix();
    display: table;
  }

  &__figure,
  &__body {
    display: table-cell;
  }

  &__body {
    @include calc(width, "100% - " ($icon-width + $icon-padding + $body-padding));

    .lt-ie9 & {
      width: 75%;
    }
  }
}

.flexbox .usajobs-unique-hiring-paths {
  &__link {
    @include display(flex);
    @include align-items(center);
  }

  &__figure {
    @include flex-shrink(0);
  }

  &__body {
    @include flex(1);
    min-width: 0;
  }
}
