// Unique Hiring Paths

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-unique-hiring-paths-container {
  @include outer-container();
  max-width: $site-max-width;
  margin-bottom: $size-XL;
  padding: $size-M 0;
  background-color: $color-white;

  @include media($M) {
    padding: $size-M;
  }
}

.usajobs-unique-hiring-paths {
  &__title {
    text-align: center;
  }

  &__description {
    padding-left: $size-default;
    padding-right: $size-default;
  }

  &__list {
    @include unstyledList();
    width: 100%;

    .usajobs-unique-hiring-paths__item {
      display: inline-block;
      float: left;
      width: 50%;

      @include media($ML) {
        width: 25%;
      }
    }
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $color-gray-lighter;

    @include media($ML) {
      border-left: 1px solid $color-gray-lighter;
    }

    &:nth-child(2n) {
      border-left: 1px solid $color-gray-lighter;
    }

    &.no-bottom-base {
      border-bottom: 0;
    }

    &.no-bottom-ML {
      @include media($ML) {
        border-bottom: 0;
      }
    }

    &.no-left-ML {
      @include media($ML) {
        border-left: 0;
      }
    }
  }

  &__icon {
    @include makeCircle(68px, none, $color-primary-darker);
    display: inline-block;
    padding-bottom: $size-default;
    font-size: $h2-font-size;
  }

  &__icon {
    &.federal-employees,
    &.ses {
      @include makeCircle(68px, none, $color-primary-darkest);
    }

    &.veterans,
    &.military-spouses {
      @include makeCircle(68px, none, $color-secondary);
    }

    &.military-spouses {
      .fa {
        font-size: $h3-font-size;
      }
    }

    &.students {
      @include makeCircle(68px, none, $color-gold);
    }

    &.individuals-with-disabilities {
      @include makeCircle(68px, none, $color-green);
    }
  }

  &__link {
    display: block;
    width: 100%;
    min-height: rem(225px);
    padding: $size-M $size-default;
    color: $color-primary-alt-dark;
    font-size: $h3-font-size;
    text-align: center;

    &:visited {
      color: $color-primary-alt-dark;
    }
  }

  &__text {
    display: block;
    width: 100%;
    padding-top: $size-S;
  }
}