// Unique Hiring Paths

@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';
@import 'base/breakpoints';

.usajobs-unique-hiring-paths-container {
  @include outer-container();
  max-width: $site-max-width;
  margin-bottom: $size-XL;
  padding: $size-M 0;
  background-color: $color-white;

  @include media($M) {
    padding: $size-M;
  }
}

.usajobs-unique-hiring-paths {
  &__title {
    text-align: center;
  }

  &__description {
    padding-left: $size-default;
    padding-right: $size-default;
  }

  &__list {
    @include unstyledList();
    width: 100%;

    .usajobs-unique-hiring-paths__item {
      display: inline-block;
      float: left;
      width: 50%;

      @include media($ML) {
        width: 25%;
      }
    }
  }

  &__item {
    position: relative;
    background-color: $color-primary-darker;

    &.federal-employees,
    &.ses {
      background-color: $color-primary-darkest;
    }
    &.veterans,
    &.military-spouses {
      background-color: $color-secondary;
    }
    &.students {
      background-color: $color-gray-dark;
    }
    &.individuals-with-disabilities {
      background-color: $color-green;
    }
  }

  &__link {
    display: block;
    width: 100%;
    min-height: rem(225px);
    padding: $size-M $size-default;
    color: $color-white;
    font-size: $h4-font-size;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    opacity: 1;
    @include transition(opacity $duration-fast ease-in-out);

    &:visited {
      color: $color-white;
    }

    &:hover {
      opacity: 0;
      z-index: -1;

      + .usajobs-unique-hiring-paths__details {
        z-index: 100;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__icon {
    display: inline-block;
    width: 100%;
    min-height: rem(81px);
    padding-bottom: $size-default;
    font-size: $h1-font-size;
  }

  &__details {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    padding: $size-default $size-M;
    text-transform: inherit;
    color: $color-white;
    z-index: -1;
    @include transition(opacity $duration-fast ease-in-out);

    .learn-more,
    .learn-more:visited {
      color: $color-primary;
    }
  }

}