---
permalink: /working-in-government/unique-hiring-paths/national-guard/
layout: unique-hiring-path
section: working-in-government
title: National Guard & Reserves
breadcrumb: National Guard & Reserves
category: Unique Hiring Paths
tags: [national guard, military, eligibility]
short-name: national-guard
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Jobs within a National Guard unit are in the <a href="{{ site.baseurl }}/working-in-government/service/">excepted service</a>, so it’s important to read the <strong>Who May Apply</strong> section of the job announcement to understand if you’re eligible or what you need to do to be eligible. Some jobs:
    </p>
    <ul>
      <li>Require you to already be a National Guard member in a specific state.</li>
      <li>Require you to already be a National Guard member, but willing to transfer to a specific state.</li>
      <li>Are open to anyone, but you must join the National Guard to accept the job.</li>
      <li>Require you to wear a National Guard uniform.</li>
    </ul>
    <p>
      The <strong>Who May Apply</strong> section may say:
    </p>
    <ul>
      <li>Restricted to CURRENT members of the Army National Guard, Air National Guard, Reserves or Active Duty Military – Only a current member of one of these groups is eligible for this job.</li>
      <li>United States Citizens – Anyone is eligible, but you have to join the National Guard to accept the job.</li>
      <li>AREA 1 – Open to current, permanent technicians of the Michigan National Guard. (Does not include temporary technicians).</li>
      <li>AREA 2 – Open to current military members of the Michigan National Guard – You must already be a member of the Michigan National Guard to be eligible. Preference is given to current technicians, because the job is specific to that skill set.</li>
      <li>Current Warrant officer (CW3 & below) or Enlisted (E6 or above) members of the ND Army or Air National Guard – You must have a specific rank within the North Dakota National Guard to be eligible for this job.</li>
      <li>US Citizens and Federal Employees with status – Anyone or federal employees with status are eligible, but you have to join the National Guard.</li>
    </ul>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to National Guard &amp; Reserves?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>National Guard &amp; Reserves</strong>, or those willing to join, you’ll see this icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      In search you can also select the <strong>National Guard</strong> filter. Your results will display all jobs open to the National Guard, reserves, and those willing to join.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      The National Guard for each state requires different forms. You will likely need to complete forms to demonstrate prior military or federal service if appropriate. Standard forms that you may need to complete are listed below.
    </p>
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__item">
        <a class="usajobs-uhp-section-required-documents__link" href="http://www.esd.whs.mil/Portals/54/Documents/DD/forms/dd/dd0369.pdf" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              DD-369
            </div>
            Police records check form
          </div>
        </a>
      </li>
      <li class="usajobs-uhp-section-required-documents__item">
        <a class="usajobs-uhp-section-required-documents__link" href="https://www.opm.gov/Forms/pdf_fill/SF144.pdf" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              SF-144
            </div>
            Statement of prior federal service
          </div>
        </a>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How to join the National Guard
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      First, make sure you’re qualified to join the National Guard. Whether you’ve served in the military before, or you’ve never served, you must meet the mandatory requirements to join the National Guard.
    </p>
    <ul class="usajobs-drawer" data-object="help-accordion">
      <li>
        <button class="usajobs-drawer-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="category-a" data-behavior="help-accordion.toggle">
          1. If you’ve never served in the United States Armed Forces (Active Duty, Reserves or National Guard)
        </button>
        <div id="category-a" class="usajobs-drawer-content usajobs-uhp-accordion-content">
          <p>
            If you’ve never served in the United States Armed Forces (Active Duty, Reserves or National Guard), you must:
          </p>
          <ul>
            <li>Be between the ages of 17 and 35.</li>
            <li>Be a U.S. citizen or permanent resident.</li>
            <li>Be at least a junior in high school, or have a high school diploma or a GED certificate.</li>
            <li>Meet medical, physical and moral requirements.</li>
          </ul>
        </div>
      </li>
      <li>
        <button class="usajobs-drawer-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="category-b" data-behavior="help-accordion.toggle">
          2.	If you’ve served in the military (Active Duty, Reserves or National Guard)
        </button>
        <div id="category-b" class="usajobs-drawer-content usajobs-uhp-accordion-content">
          <p>
            If you’ve served in the military (Active Duty, Reserves or National Guard), you must:
          </p>
          <ul>
            <li>Qualify for non-regular retired pay by age 60.</li>
            <li>Meet the height, weight and current medical requirements.</li>
            <li>Meet the education standards for the Military Occupational Series (MOS) or option for which you’re enlisting.</li>
            <li>Have the most current DD 214, NGB22, or discharge order and have an approved DD Form 368 Conditional Release.</li>
          </ul>
        </div>
      </li>
    </ul>
    <h3>Additional requirements</h3>
    <p>
      In addition to the above mandatory requirements, you must also:
    </p>
    <ul>
      <li>Attend basic training – If you served in the United States Navy, United States Air Force, United States Coast Guard and have not completed Army or Marine Corps Basic Training you must attend Basic Combat Training (BCT). There are some exceptions to this requirement.</li>
      <li>Take the Armed Services Vocational Aptitude Battery (ASVAB) – If you have a break in service of over 10 years, you must re-take the ASVAB to establish current scores.</li>
    </ul>
    <p>
      <a href="https://www.nationalguard.com/eligibility">Learn more about eligibility and the National Guard</a>.
    </p>
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/faq/application/process/">
          How does the application process work
        </a>
      </li>
    </ul>
  </div>
</div>
