---
permalink: /working-in-government/unique-hiring-paths/federal-employees/
layout: unique-hiring-path
section: working-in-government
title: Federal Employees
breadcrumb: Federal Employees
category: Unique Hiring Paths
tags: [federal employees, competitive, service, excepted, unique hiring paths]
short-name: federal-employees
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}
{% assign hp_internal = site.data.unique-hiring-paths['internal'] %}
{% assign hp_interchange = site.data.unique-hiring-paths['interchange'] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Eligibility
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Being a federal employee doesn't mean you're eligible for every federal job, so it's important to understand:
    </p>
    <ul>
      <li>Which service you belong to.</li>
      <li>The appointment type you are serving on.</li>
    </ul>
    <p>
      Understanding this will help you know which jobs you’re eligible for and prevent you from  spending time on jobs for which you’re not eligible.
    </p>
    <p>
      Being eligible for a job is different from being qualified for a job. <a href="{{ site.baseurl }}/faq/application/eligibility/difference-from-qualifications/">Understand the difference</a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Services
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right usajobs-uhp-section--services">
    <p>
      Services are how the Federal Government describes categories of jobs that provide different options and benefits to the future employee. There are three services in the Federal Government.
    </p>
    <div class="usajobs-uhp-section--services__container">
      <div class="usajobs-uhp-section-service usajobs-uhp-section-service--eligible">
        <a class="usajobs-uhp-section-service__link" href="#competitive-service">
          Competitive Service
        </a>
        <div class="usajobs-uhp-section-service__body">
          Positions with agencies that follow the U.S. Office of Personnel Management's hiring rules and pay scales.
        </div>
        <div class="usajobs-uhp-section-service-merit usajobs-uhp-section-service-merit--eligible">
          <h5 class="usajobs-uhp-section-service-merit__head">
            Eligible to apply for merit promotion jobs?
          </h5>
          <p class="usajobs-uhp-section-service-merit__text">
            <span class="fas fa-check"></span> YES
          </p>
        </div>
      </div>
      <div class="usajobs-uhp-section-service">
        <a class="usajobs-uhp-section-service__link" href="#excepted-service">
          Excepted Service
        </a>
        <div class="usajobs-uhp-section-service__body">
          Positions with agencies that have their own hiring rules, pay scales, and evaluation criteria.
        </div>
        <div class="usajobs-uhp-section-service-merit">
          <h5 class="usajobs-uhp-section-service-merit__head">
            Eligible to apply for merit promotion jobs?
          </h5>
          <p class="usajobs-uhp-section-service-merit__text">
            <span class="fa fa-times"></span> <strong>NO</strong>, unless your agency has an <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/interchange-agreements/">Interchange Agreement</a>. But you can apply to jobs that are <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/public/">open to the public</a> and federal employees -- excepted service.
          </p>
        </div>
      </div>
      <div class="usajobs-uhp-section-service">
        <a class="usajobs-uhp-section-service__link" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/senior-executive-service/">
          Senior Executive Service
        </a>
        <div class="usajobs-uhp-section-service__body">
          Managerial, supervisory, and policy positions classified above General Schedule (GS) grade 15 or equivalent positions in most Executive Branch agencies.
        </div>
        <div class="usajobs-uhp-section-service-merit">
          <h5 class="usajobs-uhp-section-service-merit__head">
            Eligible to apply for merit promotion jobs?
          </h5>
          <p class="usajobs-uhp-section-service-merit__text">
            <span class="fa fa-times"></span> <strong>NO</strong>, but you can apply to jobs that are <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/public/">open to the public</a> or open to the <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/senior-executive-service/">Senior Executive Service</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="usajobs-uhp-section--services__container">
      <div class="usajobs-uhp-section-service usajobs-uhp-section-service--unsure">
        <div class="usajobs-uhp-section-service--unsure__body">
          <h3 class="usajobs-uhp-section-service--unsure__head">
            Not sure what service you fall under?
          </h3>
          <a class="usa-button usa-button-secondary" href="{{ site.baseurl }}/working-in-government/service/SF-50/">
            Learn how to determine your service and appointment type
          </a>
        </div>
      </div>
    </div>
    {% include components/services-infographic.html %}
  </div>
</div>

<div id="competitive-service" class="usajobs-uhp-section-service-divider usajobs-uhp-section-service-divider--competitive">
  <svg class="usajobs-icon--hiring-path usajobs-uhp-section-service-divider__icon {{ page.short-name }}">
    <use xlink:href="#{{ hp.icon }}"></use>
  </svg>
  <h2 class="usajobs-uhp-section-service-divider__title">Competitive service</h2>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Merit Promotion
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <div class="usa-accordion" data-object="help-accordion">
      <p>
        Merit Promotion lets a current or former federal employee apply for a job without having to compete with general public or people with Veterans' Preference. Instead, you compete with other competitive service employees.
      </p>
    </div>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know if it's a merit promotion job?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When it's a merit promotion job, you’ll see the Federal employee - Competitive service icon <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Federal employees - Competitive service</strong> filter in search.
    </p>
    <h4>Does Veterans' Preference apply to merit promotion jobs?</h4>
    <p>
      Veterans who are VEOA eligible may apply for these jobs, but Veterans' Preference does not apply to merit promotion jobs. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/veterans/">If you're a veteran, learn more about your hiring options</a>.
    </p>
    <h4>Internal to an agency</h4>
    <p>
      Some federal jobs are only available to current employees of a specific agency.  Internal to an agency jobs can be in all three services.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know if a job is open internally?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When the job is open to current employees of the agency, you’ll see the internal icon <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"><use xlink:href="#internal-to-an-agency"></use></svg>
    </p>
    <p>
      You can also select the <strong>Internal to an agency</strong> filter in search. Your results will display all jobs open to current employees of the hiring agency.
    </p>
    <p>
      <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/internal/">Learn more about the internal to an agency hiring path</a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Transfer</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      If you're in the competitive service, you may be eligible to move to another position in the competitive service. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/transfer/">Learn more</a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Former employees</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <h4 class="usajobs-uhp-section-programs__sub-head former">
      Former federal employees previously in the competitive service may be eligible for:
    </h4>
    <ul class="usajobs-uhp-section-programs">
      <li class="usajobs-uhp-section-programs__item">
        <h3 class="usajobs-uhp-section-programs__title">Career Transition (CTAP, ICTAP, RPL)</h3>
        <p>
          If your job, agency, or department was eliminated, you may be eligible to receive selection priority over other applicants. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/career-transition/">Learn more</a>.
        </p>
      </li>
      <li class="usajobs-uhp-section-programs__item">
        <h3 class="usajobs-uhp-section-programs__title">Reinstatement</h3>
        <p>
          If you were in the competitive service, you may be eligible to return to the Federal Government under the reinstatement program. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/reinstatement/">Learn more</a>.
        </p>
      </li>
    </ul>
  </div>
</div>


<div id="excepted-service" class="usajobs-uhp-section--service-divider usajobs-uhp-section-service-divider--excepted">
  <svg class="usajobs-icon--hiring-path usajobs-uhp-section-service-divider__icon">
    <use xlink:href="#federal-employees-excepted"></use>
  </svg>
  <h2 class="usajobs-uhp-section-service-divider__title usajobs-uhp-section-service-divider--excepted__title">Excepted service</h2>
</div>

<div class="usajobs-uhp-section usajobs-uhp-section--excepted-service">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title usajobs-uhp-section--excepted-service__title">
      How do I know a job is open to excepted service employees?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section and you’ll see the Federal employee - Excepted service icon <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon"><use xlink:href="#federal-employees-excepted"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Federal employees - Excepted service</strong> filter in search. Your results will display all jobs open to federal employees in the excepted service.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section usajobs-uhp-section--excepted-service">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title usajobs-uhp-section--excepted-service__title">
      Interchange Agreement
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      If you're in the excepted service and your agency has an Interchange Agreement, you may be eligible to move to another job in the competitive service. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/interchange-agreements/">Learn more</a>.
    </p>
  </div>
</div>

{% include components/unique-hiring-paths/search-federal-employees.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional opportunities
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <h3 class="usajobs-uhp-section-programs__title">Land Management</h3>
    <p>
      If you’re a current or former term or temporary employee of a Land Management agency, you may be eligible to apply for merit promotion jobs at any agency. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/land-management/">Learn more</a>.
    </p>

    <h3 class="usajobs-uhp-section-programs__title">Base Management</h3>
    <p>
      If you’re a current or former term or temporary employee of a Base Facilities Management agency, you may be eligible to apply for merit promotion jobs at any agency. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/federal-employees/base-management/">Learn more</a>.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <a class="usajobs-uhp-section-required-documents__link" href="https://www.opm.gov/forms/pdfimage/sf50.pdf" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              SF-50
            </div>
            Notification of Personnel Action
          </div>
        </a>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/working-in-government/service/">
          Services
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/working-in-government/appointments/">
          Appointments
        </a>
      </li>
    </ul>
  </div>
</div>
