---
permalink: /working-in-government/unique-hiring-paths/family-of-overseas-employees/
layout: unique-hiring-path
section: working-in-government
title: Family of overseas employees
breadcrumb: Family of overseas employees
category: Unique Hiring Paths
tags: [family of overseas employees, unique hiring paths]
short-name: family-of-overseas-employees
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Hiring options depend on whether you’re currently working overseas and are planning to come back to the United States, or if you’re planning to go overseas with a family member who has an official overseas assignment.
    </p>
    <h3>Are you working overseas and moving back to the States?</h3>
    <p>
      If you’re currently overseas with a family member, and moving back to the United States, you may be eligible for a competitive service job without having to compete with the public, if you meet all of the following:
    </p>
    <ul>
      <li>You’re living overseas with a family member, who is officially assigned to an overseas duty station.</li>
      <li>You’re the family member’s spouse, domestic partner, or unmarried child younger than 23.</li>
      <li>You’ve worked at least 52 weeks in an appropriated fund position, under a local hire appointment.</li>
      <li>You’ve received a successful or equivalent performance rating during your time on the job.</li>
    </ul>
    <p>
      If you’re eligible, you can:
    </p>
    <ul>
      <li>Apply for competitive service jobs, within the United States, and agencies can hire you directly without having to compete with the public.</li>
      <li>Apply to merit promotion jobs, if the job application states "open to family of overseas employees".</li>
    </ul>
    <p>
      The Department of State calls this hiring path "Family Member Preference".
    </p>
    <h3>Are you moving overseas with your family member?</h3>
    <p>
      If you’re moving overseas, because a family member has been assigned to an overseas duty of station, you may be eligible to apply for overseas jobs with the Federal Government. There are a couple of options available.
    </p>
    <h4>The Department of Defense’s Overseas Family Member Preference</h4>
    <p>
      You may be eligible for an overseas job if you meet the following:
    </p>
    <ul>
      <li>You’re living overseas with a family member, who is a member of the U.S. Armed Forces or a U.S. federal employee and officially assigned to an overseas duty station.</li>
      <li>You’re the family member’s spouse, domestic partner, or unmarried child younger than 23.</li>
      <li>You haven’t accepted or declined a permanent position or a temporary position of one year or longer at your family member’s new duty station.</li>
      <li>You’re applying to a job within the same commuting area as your family member’s permanent duty station.</li>
    </ul>
    <p>
      <a href="https://wu.acpol.army.mil/eur/employment/fmp/index.asp">Learn more about Overseas Family Member Preference</a>
    </p>
    <h4>The Department of State’s Family Member Appointment (FMA)</h4>
    <p>
      If you’re a family member of someone who works for the Department of State, you may be eligible for overseas jobs if you meet the following:
    </p>
    <ul>
      <li>You’re a U.S. citizen.</li>
      <li>You’re on the travel orders accompanying a career Foreign Service or Civil Service employee or uniformed service member at a U.S. embassy or consulate abroad, or you’re listed on the OF 126 (Automated Foreign Service Residency and Dependency Report).</li>
      <li>You’re the family member’s spouse, same-sex domestic partner (who has filed an affidavit) or unmarried child at least 18 years old, but under 21.</li>
    </ul>
    <h5>What about annuitants?</h5>
    <p>
      If you’re a military annuitant, and you meet the above criteria, you’re eligible to apply under FMA.  However, if you’re a civil service annuitant, you’re not eligible.
    </p>
    <p>
      <a href="https://www.state.gov/m/dghr/flo/c68097.htm">
        Learn more about the Family Member Appointment
      </a>.
    </p>
    <p>
      Your eligibility does not entitle you to a job within the Federal Government. You must still apply and meet qualification standards and additional requirements, such as a background investigation.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to family of overseas employees?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Family of overseas employees</strong> you’ll see this icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}" role="img"><title>Family of overseas employees</title><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      However, you need to read the full job announcement to see if the job falls under one of the Department of State or Department of Defense programs. These hiring programs have different requirements. You may see the terms Family Member Preference (FMP) or Family Member Appointment (FMA).
    </p>
    <p>
      You can also select the <strong>Family of overseas employees</strong> filter in search. Your results will display all jobs open to family of overseas employees.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__item">
        <a class="usajobs-uhp-section-required-documents__link" href="https://www.opm.gov/forms/pdfimage/sf50.pdf" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              SF-50
            </div>
            Notification of Personnel Action for your family member
          </div>
        </a>
      </li>
      <li class="usajobs-uhp-section-required-documents__item">
        <div class="usajobs-uhp-section-required-documents__doc">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              Permanent Change of Station (PCS) Orders
            </div>
          </div>
        </div>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}
