---
permalink: /working-in-government/unique-hiring-paths/native-americans/
layout: unique-hiring-path
section: working-in-government
title: Native Americans
breadcrumb: Native Americans
category: Unique Hiring Paths
tags: [native americans, hiring paths, american, indian, alaskan, native, preference, eligibility]
short-name: native-americans
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">What is Indian Preference?</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      With Indian Preference, you may receive preference over non-Indian applicants when applying to jobs with the <a href="https://www.ihs.gov/">Indian Health Service</a> and <a href="https://www.bia.gov/index.htm">Indian Affairs</a> (including the Bureau of Indian Affairs, the Bureau of Indian Education, and some positions within the Assistant Secretary – Indian Affairs.)
    </p>
    <p>
      Preference in filling vacancies is given to qualified Indian candidates in accordance with the Indian Reorganization Act of 1934 (Title 25, USC, Section 472). If you’re claiming Indian Preference, you must submit <a href="#required-documents">Form BIA 4432 Verification of Indian Preference</a> with your application. Indian Preference eligibles not currently employed in federal service may be appointed under the Excepted Service Appointment Authority Schedule A, 213.3112(a)(7). Consideration will be given to Non-Indian applicants if there are no qualified Indian Preference eligibles.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      To be eligible, you must submit a complete <a href="#required-documents">BIA form 4432</a> along with your application for each job announcement.
    </p>
    <!-- p>
      You must provide evidence and enough background information to verify your eligibility for Indian Preference.
    </p>
    <p>
      To be eligible, you must complete a <a href="#required-documents">BIA 4432</a> form and fall under <strong>one of the following categories:</strong>
    </p>
    <div class="usa-accordion" data-object="help-accordion">
      <ul class="usa-unstyled-list">
        <li>
          <button class="usa-accordion-button usajobs-uhp-accordion-trigger" aria-expanded="true" aria-controls="category-a" data-behavior="help-accordion.toggle">
            Category A: <span class="usajobs-uhp-accordion-trigger__sub-title">You’re a member of a federally- recognized Indian tribe, band or community.</span>
          </button>
          <div id="category-a" class="usa-accordion-content usajobs-uhp-accordion-content">
            <p>
              If you’re claiming Indian Preference under this category, you must:
            </p>
            <p>
              &bull; Have a tribal officer from your tribe complete and sign your BIA 4432 form.
            </p>
            <p>
              <strong>Or</strong>
            </p>
            <p>
              &bull; Provide a signed verification by a Tribal Representative, if your tribe has contracted or compacted the maintenance of their tribal records.
            </p>
            <p>
              If your tribe does not maintain tribal enrollment records, the tribe representative must certify that you’re a member and you must submit the BIA 4432 to the Bureau of Indian Affairs official who maintains the official roll for your tribe.
            </p>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="category-b" data-behavior="help-accordion.toggle">
            Category B: <span class="usajobs-uhp-accordion-trigger__sub-title">You’re a descendant of a member of a federally recognized Indian tribe, band or community who resided on any Indian reservation on June 1, 1934.</span>
          </button>
          <div id="category-b" class="usa-accordion-content usajobs-uhp-accordion-content">
            <p>
              If you’re claiming Indian preference based on this category, you must:
            </p>
            <p>
              &bull; Provide documentation that you were residing within the present boundaries of the reservation on June 1, 1934.
            </p>
            <p>
              &bull; Include enough information so that the Bureau of Indian Affairs (BIA) can verify your lineal descent. The information you provide will be the only information the BIA will have to determine your preference.
            </p>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="category-c" data-behavior="help-accordion.toggle">
            Category C: <span class="usajobs-uhp-accordion-trigger__sub-title">You have at least one-half degree Indian blood derived from tribes indigenous to the United States.</span>
          </button>
          <div id="category-c" class="usa-accordion-content usajobs-uhp-accordion-content">
            <p>
              If you’re claiming Indian preference based on this category, you must:
            </p>
            <p>
              &bull; Submit state or academic records that document this status as well as official records, such as census records, that establish your degree of Indian blood.
            </p>
            <p>
              &bull; Complete and submit the <a href="#required-documents">Certificate of Degree of Indian or Alaska Native Blood Application</a>, along with the <a href="#required-documents">BIA 4432 form</a>.
            </p>
          </div>
        </li>
        <li>
          <button class="usa-accordion-button usajobs-uhp-accordion-trigger" aria-expanded="false" aria-controls="category-d" data-behavior="help-accordion.toggle">
            Category D: <span class="usajobs-uhp-accordion-trigger__sub-title">You’re an Alaska Native or descendant of an Alaska Native.</span>
          </button>
          <div id="category-d" class="usa-accordion-content usajobs-uhp-accordion-content">
            <p>
              You must contact the Bureau of Indian Affairs office that services your village or corporation to complete the required section of the BIA 4432 form.
            </p>
          </div>
        </li>
      </ul>
    </div -->
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to Native Americans?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Native Americans</strong> you’ll see this icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}" role="img"><title>Native americans</title><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      In search you can also select the <strong>Native Americans</strong> filter. Your results will display all jobs open to Native Americans.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <a class="usajobs-uhp-section-required-documents__link" href="https://www.bia.gov/sites/bia.gov/files/assets/public/raca/online_forms/pdf/IndianPref_1076-0160_Exp3-31-21.pdf" target="_blank">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-pdf"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              Form BIA 4432
            </div>
            Verification of Indian Preference for Employment
          </div>
        </a>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.bia.gov/WhoWeAre/BIA/OIS/TribalGovernmentServices/TribalDirectory/" target="_blank">
          Contact information for federally recognized tribes
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.bia.gov/index.htm" target="_blank">
          Bureau of Indian Affairs
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.ihs.gov/" target="_blank">
          Indian Health Service
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
