// Help Center

@import 'base-shared';

// Help Center components
@import 'components/banner';
@import 'components/breadcrumb';
@import 'components/nav-secondary';
@import 'components/home-ctas';
@import 'components/unique-hiring-paths';
@import 'components/uhp-section-nav';

// Global
.usajobs-help-center {
  &__lead {
    @include h3();
    font-weight: 300;
    font-size: 2.2rem;
    line-height: 1.5;
    color: $color-gray;
  }

  &__external-button {
    position: relative;
    display: block;
    width: 100%;
    max-width: $input-max-width;
    padding: $size-default $size-L $size-default $size-S;
    line-height: $heading-line-height;
    text-align: left;

    .fa {
      position: absolute;
      right: rem(10px);
    }
  }

  &__external-link .fa {
    padding-left: $size-base;
  }
}

.usajobs-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  @include boxShadow(1, true);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $color-gray-light;
  }
}


// Help Center layouts
@import 'layouts/about';
@import 'layouts/article';
@import 'layouts/contact-us';
@import 'layouts/home';
@import 'layouts/landing';
@import 'layouts/unique-hiring-path';


// Shared layout styles
.usajobs-help-center-home,
.usajobs-help-center-landing,
.usajobs-help-center-sub-section,
.usajobs-help-center-singleton {

  &__link-list {
    @include unstyledList();
    margin-bottom: 0;
    padding-bottom: $size-M;

    a {
      display: block;
      padding: $size-S 0;
      font-size: $h4-font-size;
    }
  }

  &__link-list-small {
    @include unstyledList();
    margin-bottom: 0;

    a {
      display: block;
      padding: $size-base 0;
      font-size: $h5-font-size;
    }
  }
}

.usajobs-help-center-landing,
.usajobs-help-center-sub-section,
.usajobs-help-center-singleton {
  @include clearfix();
  margin-bottom: $size-XXL;
}

// Search
.usajobs-help-center-search {
  &__result {
    display: block;
    @include h4();

    &:visited {
      color: $color-primary;
    }
  }
}

// Glossary
.usajobs-help-center-glossary {
  dl {
    margin: 0 0 $size-M;
  }

  dt {
    font-weight: bold;
    text-transform: titlecase;
  }

  dd {
    margin: $size-base 0;
  }
}

.usajobs-help-center-index-nav {
  &__list {
    @include unstyledList();
  }

  &__link {
    display: block;
    padding: $size-S $size-default;
  }

  &__item.is-inactive {
    display: block;
    padding: $size-S $size-default;
    color: $color-gray;
  }
}
