// Help Center

@import 'lib/bourbon/bourbon';
@import 'core/variables';
@import 'base/variables';
@import 'base/utilities';

// Help Center components
@import 'components/search-banner';
@import 'components/breadcrumb';
@import 'components/nav-secondary';
@import 'components/home-ctas';
@import 'components/unique-hiring-paths';

// Home page
.usajobs-help-center-home-body {
  background-color: $color-gray-lightest;
}

.usajobs-help-center-home,
.usajobs-help-center-landing,
.usajobs-help-center-sub-section,
.usajobs-help-center-singleton {

  &__link-list {
    @include unstyledList();
    margin-bottom: 0;

    a {
      display: block;
      padding: $size-S 0;
      font-size: $h4-font-size;
    }
  }

  &__link-list-small {
    @include unstyledList();
    margin-bottom: 0;

    a {
      display: block;
      padding: $size-base 0;
      font-size: $h5-font-size;
    }
  }
}

.usajobs-help-center-landing,
.usajobs-help-center-sub-section,
.usajobs-help-center-singleton {
  margin-bottom: $size-XXL;
}

.usajobs-help-center-home {
  padding: $size-M;
  background-color: $color-gray-lightest;

  @include media($ML) {
    padding: $size-XL $size-M $size-default;
  }

  @include media($XL) {
    padding-left: 0;
    padding-right: 0;
  }

  a:visited {
    color: $color-primary;
  }

  &__page-title {
    margin-top: 0;
    margin-bottom: $size-M;

    @include media($ML) {
      margin-bottom: $size-XL;
    }
  }

  &__section-container {
    @include align-items(stretch);
    @include display(flex);
    @include justify-content(flex-start);
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  &__section {
    @include flex(0 0 auto);
    width: 100%;
    margin-bottom: $size-default;
    padding: $size-M $size-default $size-base;
    background-color: $color-white;
    border: 1px solid $color-gray-lighter;
  }

  &__section.faq,
  &__section.how-to {
    @include media($M) {
      width: 49%;
    }
  }

  &__section.faq {
    @include media($M) {
      margin-right: 2%;
    }
  }

  &__section.faq,
  &__section.how-to {
    @include media($L) {
      margin-right: 1%;
    }
  }

  &__section.faq,
  &__section.how-to,
  &__section.working-in-government {
    @include media($L) {
      width: 32.666666%;
    }
  }

  &__sub-section {
    @include media($M) {
      @include span-columns(3, 6);
    }

    &.unique-hiring-paths {
      @include media($M) {
        @include omega();
      }
    }
  }

  &__section-title {
    display: block;
    width: 100%;
    text-align: center;

    &:visited,
    &:hover {
      text-decoration: none;
    }

    h3 {
      color: $color-primary-darkest;
    }

    &:visited,
    &:hover {
      h3 {
        color: $color-primary-darkest;
        text-decoration: none;
      }
    }
  }

  &__section-title.faq .fa {
    @include makeCircle(118px, $color-primary-alt, none, $color-primary-alt);
    box-shadow: inset 0 0 0 3px $color-primary-alt;
    text-align: center;
    font-size: rem(59px);
  }

  &__section-title.how-to .fa {
    @include makeCircle(118px, $color-green, none, $color-green);
    box-shadow: inset 0 0 0 3px $color-green;
    text-align: center;
    font-size: rem(59px);
  }

  &__section-title.working-in-government .fa {
    @include makeCircle(118px, $color-gold, none, $color-gold);
    box-shadow: inset 0 0 0 3px $color-gold;
    text-align: center;
    font-size: rem(59px);

    &:before {
      margin-right: -4px;
    }
  }

  &__section-link {
    display: block;
    padding: $size-S 0;
  }
}

.usajobs-help-center__lead {
  @include h3();
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 1.5;
  color: $color-gray;
}

.usajobs-help-center-landing {
  .usajobs-help-center__lead {
    margin-bottom: $size-XL;
  }

  &__title .fa {
    margin-right: $size-default;
    text-align: center;
  }

  &__title.faq .fa {
    @include makeCircle(88px, $color-primary-alt, none, $color-primary-alt);
    box-shadow: inset 0 0 0 3px $color-primary-alt;
  }

  &__title.how-to .fa {
    @include makeCircle(88px, $color-green, none, $color-green);
    box-shadow: inset 0 0 0 3px $color-green;
  }

  &__title.working-in-government .fa {
    @include makeCircle(88px, $color-gold, none, $color-gold);
    box-shadow: inset 0 0 0 3px $color-gold;

    &:before {
      margin-right: -4px;
    }
  }
}

// Individual articles (markdown pages)
.usajobs-help-center-article {
  &__related {
    margin-top: rem(89px);
  }

  &__additional-container {
    @include span-columns(12, 12);
    margin: $size-M 0;
  }

  &__additional-help {
    padding: $size-default;
    text-align: center;
    background-color: $color-primary-alt-lightest;

    p {
      @include h4();
      color: $color-primary-darkest;

      a {
        font-weight: normal;
      }

      a:visited {
        color: $color-primary;
      }
    }
  }

  // Override of the US Standards on lists. It really does odd things inside of articles.
  ul,
  ol {
    margin-bottom: $size-S;
  }

  blockquote {
    padding: 0 $size-default;
    color: $color-gray;
    border-left: 4px solid $color-gray-light;
  }
}

.usajobs-help-center-breadcrumb-container {
  background-color: $color-gray-lightest;
}

.usajobs-help-center-search {
  &__result {
    display: block;
    @include h4();

    &:visited {
      color: $color-primary;
    }
  }
}
