{% capture url %}{% if page.language%}{{ page.url | remove: "/" | remove: page.language }}{% else %}{{ page.url | remove: "/" }}{% endif %}{% endcapture %}
{% if url.size > 0 %}
<div class="usajobs-help-center-breadcrumb usajobs-help-center-breadcrumb--{{ include.variation }}">
  <ul vocab="http://schema.org" typeof="BreadcrumbList" class="usajobs-help-center-breadcrumb__list">
    <li class="usajobs-help-center-breadcrumb__item" property="itemListElement" typeof="ListItem">
      <a class="usajobs-help-center-breadcrumb__link" property="item" typeof="WebPage" href={{ "/" | prepend: site.baseurl | prepend: site.url }}>
        Help
      </a>
    </li>
    <!-- Iteration breadcrumb item -->
    {% assign position = 0 %}
    {% for crumb in breadcrumbs %}

      <!-- Skip if root -->
      {% if crumb.url == "/" %}
        {% continue %}
      {% endif %}

      <!-- Skip if language directory -->
      {% if page.language %}
        {% assign langpath = crumb.url | remove: "/" %}
        {% if langpath == page.language %}
          {% continue %}
        {% endif %}
      {% endif %}

      <!-- Get breadcrumb title. -->
      {% assign caption = crumb.title %}
      <!-- span property="item" typeof="WebPage">{{breadcrumb_page.breadcrumb}}</span -->

      <!-- SEO data -->
      {% assign position = position  | plus: 1 %}

      <li class="usajobs-help-center-breadcrumb__item" property="itemListElement" typeof="ListItem">
        {% if crumb.url != page.url %}<a property="item" class="usajobs-help-center-breadcrumb__link{% if crumb.url == page.url %} is-active{% endif %}" typeof="WebPage" href="{{ crumb.url | prepend: site.baseurl | prepend: site.url }}">{% endif %}
        <span property="name" typeof="WebPage">{{ caption }}</span>
        {% if crumb.url != page.url %}</a>{% endif %}
        <meta property="position" content="{{ position }}" />
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
