<div class="usajobs-help-center-home__start-about-container">
  <div class="usajobs-grid-full">
    <div class="usajobs-width-one-half usajobs-help-center-home-get-started">
      <h2 class="usajobs-help-center-home-get-started__title">Get Started</h2>
      <p class="usajobs-help-center-home-get-started__text">
        USAJOBS posts all federal job opportunities with a position description and instructions how to apply. With USAJOBS.gov tools and resources, you can find the right federal job faster.
      </p>
      <a href="{{ site.baseurl }}/get-started/" class="usa-button usa-button-big usa-button-outline-inverse usajobs-help-center-home-get-started__button">
        Get Started
      </a>
    </div>
    <div class="usajobs-width-one-half usajobs-help-center-home-about-usajobs">
      <h2 class="usajobs-help-center-home-about-usajobs__title">About USAJOBS</h2>
      <p class="usajobs-help-center-home-about-usajobs__text">
        As a free web-based job board and the Federal Government’s official source, USAJOBS has attracted over 17 million job seekers to create accounts to date.
      </p>
      <a href="{{ site.baseurl }}/about/" class="usa-button usa-button-big usa-button-outline-inverse usajobs-help-center-home-get-started__button">
        Learn about USAJOBS
      </a>
    </div>
  </div>
</div>
