<nav class="usajobs-help-center-nav-secondary" role="navigation">
  <div class="usajobs-help-center-nav-secondary__body">
    <ul class="usajobs-help-center-nav-secondary__menu">
      <li class="usajobs-help-center-nav-secondary__container">
        <a class="usajobs-help-center-nav-secondary__item faq" href="{{ site.baseurl }}/faq/">
          <i class="fa fa-question-circle"></i>
          <span class="usajobs-help-center-nav-secondary__text">FAQs</span>
        </a>
      </li>
      <li class="usajobs-help-center-nav-secondary__container">
        <a class="usajobs-help-center-nav-secondary__item how-to" href="{{ site.baseurl }}/how-to/">
          <i class="fa fa-book"></i>
          <span class="usajobs-help-center-nav-secondary__text">How to&hellip;</span>
        </a>
      </li>
      <li class="usajobs-help-center-nav-secondary__container">
        <a class="usajobs-help-center-nav-secondary__item working-in-government" href="{{ site.baseurl }}/working-in-government/">
          <i class="fa fa-bank"></i>
          <span class="usajobs-help-center-nav-secondary__text">
            <span class="usajobs-help-center-nav-secondary__text-long">Working in</span> Government
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>
