<header class="usajobs-site-header" role="banner" aria-label="header">
  {% include components/nav/_gov-banner.html %}
  <nav class="usajobs-nav usajobs-nav--full_bleed usajobs-nav--vTest usajobs-nav--search" role="navigation" aria-label="main navigation" data-object="nav" data-behavior="">
    <div class="usajobs-nav__body usajobs-nav--full_bleed__body">
      <div class="usajobs-nav__header-container">
        <div class="usajobs-nav__header usajobs-nav--full_bleed__header">
          <div class="usajobs-nav__brand-container">
            <a class="usajobs-nav__brand usajobs-nav--vTest__brand usajobs-nav--full_bleed__brand" href="{{ site.baseurl }}/">
              <span class="logo" title="USAJOBS logo"></span>
              <span class="test">FAKE <i class="fa fa-exclamation-circle"></i></span>
            </a>
          </div>
          <div class="usajobs-nav__menu" id="usajobs-menu">
            <ul>
              <li class="usajobs-nav__menu-container usajobs-nav__account">
                <a class="usajobs-nav__section-link menu-toggle user-logged-out" href="{{ site.produrl }}/Applicant/ProfileDashboard/Home" title="Account-Logged Out">
                  <div class="usajobs-icon--center">
                    <span class="fas fa-user"></span>
                  </div>
                  <span class="usajobs-nav__account_name">Sign In</span>
                  <span class="usajobs-nav__first_name">Sign In</span>
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__help">
                <a class="usajobs-nav__section-link is-active" href="{{ site.baseurl }}/" title="Help">
                  <span class="fas fa-question-circle fa-fw"></span>
                  Help
                </a>
              </li>
              <li class="usajobs-nav__menu-container usajobs-nav__menu-search" data-state="is-closed">
                <a id="nav-menu-search-toggle" data-behavior="nav.menu.search-toggle" aria-controls="usajobs-search-form-v2-unauth" class="usajobs-nav__section-link usajobs-nav--search__section-link" href="{{ site.baseurl }}/" title="Job Search">
                  <span class="fas fa-search fa-fw" data-fa-transform="right-8"></span>
                  Search
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div id="usajobs-search-form-v2-unauth" class="usajobs-nav__search" aria-expanded="false" role="menu">
          <form action="/Search" method="get" novalidate="novalidate" role="search">
            <fieldset class="usajobs-nav--full_bleed__search-body">
              <div class="usajobs-nav__search-keywords-container">
                <label for="search-keyword">
                  <i class="usajobs-nav__search-keywords-icon fa fa-search"></i>
                  Keywords
                </label>
                <input id="search-keyword" name="keyword" class="usajobs-nav__search-keywords-input" placeholder="Job title, dept., agency, series, or keyword" type="text" value="" autocomplete="off">
                <input type="hidden" id="search-keyword-autocomplete" name="search-keyword-autocomplete">
                <div id="search-keyword-autocomplete-container"></div>
              </div>
              <div class="usajobs-nav__search-location-container">
                <label class="usajobs-nav__location-label" for="search-location-2">
                  <i class="usajobs-nav__search-location-icon fa fa-map-marker"></i>
                  Location
                </label>
                <input id="search-location-2" name="location_name" type="text" class="usajobs-nav__search-location-input" placeholder="City, state, zip, or country" value="" autocomplete="off">
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <input type="hidden" id="AutoCompleteSelected" name="AutoCompleteSelected">
              </div>
              <div class="usajobs-nav__search-button-container usajobs-nav--full_bleed__search-button-container">
                <button class="usa-button usa-button-primary-alt usajobs-nav__search-button" data-behavior="nav.close_refiners">
                  Search
                </button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </nav>
</header>
