<nav class="usajobs-help-center-nav-secondary" role="navigation">
  <div class="usajobs-help-center-nav-secondary__body">
    <ul class="usajobs-help-center-nav-secondary__menu">
      <li class="usajobs-help-center-nav-secondary__container faq {% if page.section == 'faq' %}is-active{% endif %}">
        <a class="usajobs-help-center-nav-secondary__item" href="{{ site.baseurl }}/faq/">
          FAQs
        </a>
      </li>
      <li class="usajobs-help-center-nav-secondary__container how-to {% if page.section == 'how-to' %}is-active{% endif %}">
        <a class="usajobs-help-center-nav-secondary__item" href="{{ site.baseurl }}/how-to/">
          How to&hellip;
        </a>
      </li>
      <li class="usajobs-help-center-nav-secondary__container working-in-government {% if page.section == 'working-in-government' %}is-active{% endif %}">
        <a class="usajobs-help-center-nav-secondary__item" href="{{ site.baseurl }}/working-in-government/">
          <span class="usajobs-help-center-nav-secondary__text-long">Working in</span> Government
        </a>
      </li>
      <li class="usajobs-help-center-nav-secondary__container glossary">
        <button class="js-glossary-toggle usajobs-help-center-nav-secondary__glossary-trigger">
          Glossary
        </button>
       </li>
    </ul>
  </div>
</nav>
