<div class="usajobs-help-center-search-banner">
  <div role="search" id="search">
    <form class="usa-search usa-search-big" action="{{ site.baserul }}/search" method="get">
      <h1 class="usajobs-help-center-search-banner__title">Help Center</h1>
      <label class="usa-sr-only" for="search-query">Search</label>
      <input type="search" id="search-query" name="q" placeholder="Search for help" autocomplete="off" >
      <button type="submit">
        <span class="usa-search-submit-text">Search</span>
      </button>
    </form>
  </div>
</div>
