<div class="usajobs-help-center-search-banner--with-nav {{ include.param }}">
  <div role="search" id="search" class="usajobs-help-center-search-banner__container">
    <form class="usa-search usa-search-big" action="{{ site.baseurl }}/search" method="get">
      <h1 class="usajobs-help-center-search-banner__title" id="title">
        <a href="{{ site.baseurl }}/" class="usajobs-help-center-search-banner__link">Help Center</a>
      </h1>
      <label class="usa-sr-only" for="search-query">Search</label>
      <input type="search" id="search-query" name="q" placeholder="Search for help" autocomplete="off" >
      <button type="submit" class="usajobs-help-center-search-banner__submit">
        <span class="usa-search-submit-text">Search</span>
      </button>
    </form>
  </div>
  {% include components/nav-secondary.html %}
</div>
