<a class="usajobs-help-services--infographic" href="#services-infographic-modal" data-object-trigger="modal" data-target="#services-infographic-modal">
  <div class="usajobs-help-services--infographic__figure">
    <img src="{{ site.baseurl }}/img/help-center/eligibility-timeline-teaser.png" alt="Infographic comparing the competitive and excepted services" />
  </div>
  <div class="usajobs-help-services--infographic__body">
    <h3 class="usajobs-help-services--infographic__title">
      Competitive vs. Excepted service
    </h3>
    <p class="usajobs-help-services--infographic__desc">
      See how they compare
    </p>
  </div>
</a>
<div class="usajobs-modal" data-object="modal" data-state="is-closed" id="services-infographic-modal" aria-hidden="true" role="dialog" aria-describedby="usajobs-modal-services-infographic-description">
  <div class="usajobs-modal__dialog">
    <div class="usajobs-modal__content">
      <div id="usajobs-modal-services-infographic-description" class="usajobs-assistive-text">
        Beginning of a dialog window that displays the services infographic. Escape will cancel and close the window.
      </div>
      <div class="usajobs-modal__body">
        <img src="{{ site.baseurl }}/img/help-center/eligibility-timeline.png" alt="Infographic comparing the competitive and excepted services" />
      </div>
      <div class="usajobs-modal__actions">
        <button class="usajobs-modal__close" data-behavior="modal.close">
          <span class="usajobs-assistive-text">Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
