<div class="usajobs-unique-hiring-paths-container">
  <h2 class="usajobs-unique-hiring-paths__title">Unique Hiring Paths</h2>
  <p class="usajobs-unique-hiring-paths__description">
    The federal government offers several unique hiring paths for individuals who may fall under one of the following groups of people, including:
  </p>
  <ul class="usajobs-unique-hiring-paths__list">
    <li class="usajobs-unique-hiring-paths__item federal-employees">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/federal-employees/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-institution"></i>
        Federal employees
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        If you are a current or former federal employee and hold a career appointment in the competitive service (also known as competitive status), you may be eligible for a merit promotion. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/federal-employees/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item veterans">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/veterans/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-shield"></i>
        Veterans
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        If you are a Veteran who served on active duty in the U.S. Armed Forces and were separated under honorable conditions, you may be eligible for veterans’ preference, as well as other special hiring paths for veterans. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/veterans/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item students">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/students/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-graduation-cap"></i>
        Students
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        The Federal Government is actively recruiting and hiring students and recent grads. We offer a variety of exciting jobs, competitive salaries, excellent benefits, and opportunities for career advancement. <a href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/students/" class="learn-more">Learn more</a>.
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item ses">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/senior-executives/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-briefcase"></i>
        Senior Executives
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        The SES includes managerial, supervisory, and policy positions classified above GS grade 15 or equivalent positions in the Executive Branch. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/senior-executives/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item former-overseas-employees">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/former-overseas-employees/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-plane"></i>
        Former overseas employees
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        If you are a family member of a federal civilian employee, or military member, who has completed 52 weeks of service in a federal position overseas, you may be eligible for jobs within the competitive service. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/former-overseas-employees/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item individuals-with-disabilities">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/individuals-with-disabilities/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-wheelchair"></i>
        Individuals with disabilities
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        The Federal Government is actively recruiting and hiring persons with disabilities. We offer a variety of exciting jobs, competitive salaries, excellent benefits, and opportunities for career advancement. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/individuals-with-disabilities/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item military-spouses">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/military-spouses/">
        <span class="usajobs-unique-hiring-paths__icon">
          <i class="fa fa-shield"></i> <i class="fa fa-user"></i>
        </span>
        Military spouses
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        You may be eligible for competitive service jobs. Basically, you can be considered and selected for federal jobs without having prior competitive status and without competing with the public. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/military-spouses/">Learn more.</a>
      </span>
    </li>
    <li class="usajobs-unique-hiring-paths__item peace-corps">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/peace-corps/">
        <i class="usajobs-unique-hiring-paths__icon fa fa-flag"></i>
        Peach Corps & AmeriCorps VISTA alumni
      </a>
      <span class="usajobs-unique-hiring-paths__details">
        If you worked for the Peace Corp or AmeriCorp VISTA, you may qualify to be hired outside of the formal competitive job announcement process. <a class="learn-more" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/peace-corps/">Learn more.</a>
      </span>
    </li>
  </ul>
</div>
