<div class="usajobs-unique-hiring-paths__outer-body">
  <h2 class="usajobs-unique-hiring-paths__title">Explore Hiring Paths</h2>
  <p class="usajobs-unique-hiring-paths__description">
    The Federal Government offers unique hiring paths (also known as a hiring authority) to help hire individuals that represent our diverse society. If you fall under one of these groups of people you may be eligible to receive preference when applying for jobs.
  </p>
  <ul class="usajobs-unique-hiring-paths__list">
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/federal-employees/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon federal-employees">
            <i class="fa fa-institution"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a current/former
            </span>
            Federal employee
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible for a merit promotion.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/veterans/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon veterans">
            <i class="fa fa-shield"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Veteran
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible for Veterans' Preference, as well as other veteran specific hiring options.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/students/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon students">
            <i class="fa fa-graduation-cap"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Student/recent graduate
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            The Pathways Program offers federal internship and employment opportunities.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/senior-executives/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon ses">
            <i class="fa fa-briefcase"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Senior Executive
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible for a SES position if you meet the five Executive Core Qualifications (ECQs).
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/former-overseas-employees/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon former-overseas-employees">
            <i class="fa fa-plane"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Former Overseas Employee
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible to be hired directly for jobs in the competitive service.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/individuals-with-disabilities/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon individuals-with-disabilities">
            <i class="fa fa-wheelchair-alt"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm an
            </span>
            Individual with a disability
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible to apply for jobs and get hired without going through the full application process.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/military-spouses/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon military-spouses fa-stack">
            <i class="fa fa-circle-o fa-stack-1x is-first"></i>
            <i class="fa fa-circle-o fa-stack-1x is-second"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Military spouse
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may be eligible to apply for jobs open to merit promotion candidates.
          </p>
        </div>
      </a>
    </li>
    <li class="usajobs-unique-hiring-paths__item">
      <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/peace-corps/">
        <div class="usajobs-unique-hiring-paths__figure">
          <div class="usajobs-unique-hiring-paths__icon peace-corps">
            <i class="fa fa-flag"></i>
          </div>
        </div>
        <div class="usajobs-unique-hiring-paths__body">
          <h3 class="usajobs-unique-hiring-paths__item-title">
            <span class="usajobs-unique-hiring-paths__im">
              I'm a
            </span>
            Peace Corps or AmeriCorps VISTA alumni
          </h3>
          <p class="usajobs-unique-hiring-paths__text">
            You may qualify for non-competitive eligibility.
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
