<div class="usajobs-unique-hiring-paths-container">
  <div class="usajobs-unique-hiring-paths__body">
    <h2 class="usajobs-unique-hiring-paths__title">Unique Hiring Paths</h2>
    <p class="usajobs-unique-hiring-paths__description">
      The federal government offers several unique hiring paths for individuals who may fall under one of the following groups of people, including:
    </p>
    <ul class="usajobs-unique-hiring-paths__list">
      <li class="usajobs-unique-hiring-paths__item no-left-ML">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/federal-employees/">
          <div class="usajobs-unique-hiring-paths__icon federal-employees">
            <i class="fa fa-institution"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Federal employees
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/veterans/">
          <div class="usajobs-unique-hiring-paths__icon veterans">
            <i class="fa fa-shield"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Veterans
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/students/">
          <div class="usajobs-unique-hiring-paths__icon students">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Students
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/senior-executives/">
          <div class="usajobs-unique-hiring-paths__icon ses">
            <i class="fa fa-briefcase"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Senior Executives
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item no-left-ML no-bottom-ML">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/former-overseas-employees/">
          <div class="usajobs-unique-hiring-paths__icon former-overseas-employees">
            <i class="fa fa-plane"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Former overseas employees
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item no-bottom-ML">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/individuals-with-disabilities/">
          <div class="usajobs-unique-hiring-paths__icon individuals-with-disabilities">
            <i class="fa fa-wheelchair"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Individuals with disabilities
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item no-bottom-base no-bottom-ML">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/military-spouses/">
          <span class="usajobs-unique-hiring-paths__icon military-spouses">
            <div class="fa fa-shield"></div> <div class="fa fa-user"></div>
          </span>
          <span class="usajobs-unique-hiring-paths__text">
            Military spouses
          </span>
        </a>
      </li>
      <li class="usajobs-unique-hiring-paths__item no-bottom-base no-bottom-ML">
        <a class="usajobs-unique-hiring-paths__link" href="{{site.baseurl}}/working-in-government/unique-hiring-paths/peace-corps/">
          <div class="usajobs-unique-hiring-paths__icon peace-corps">
            <i class="fa fa-flag"></i>
          </div>
          <span class="usajobs-unique-hiring-paths__text">
            Peach Corps & AmeriCorps VISTA alumni
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
