<div class="usajobs-help-center-home-top-questions">
  <div class="usajobs-help-center-home-top-questions__body">
    <h2 class="usajobs-help-center-home-top-questions__title">
      Questions you may have
    </h2>
    <div class="usajobs-help-center-home-top-questions__col">
      <ul class="usajobs-help-center-home-top-questions__list">
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/how-to/account/password/change/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-undo"></i> How do I change my password?
          </a>
        </li>
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/how-to/account/access/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-envelope"></i>
            What should I do if I no longer have access to the email associated with my USAJOBS account?
          </a>
        </li>
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/faq/application/not-considered/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-close"></i> Why did USAJOBS rate my application as not qualified?
          </a>
        </li>
      </ul>
    </div>
    <div class="usajobs-help-center-home-top-questions__col">
      <ul class="usajobs-help-center-home-top-questions__list">
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/how-to/account/password/reset/security-questions/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-lock"></i>
            How do I change my password when I don't remember my three security questions?
          </a>
        </li>
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/how-to/application/status/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-file-text-o"></i> Where is my application status?
          </a>
        </li>
        <li class="usajobs-help-center-home-top-questions__item">
          <a href="{{ site.baseurl }}/how-to/contact-usajobs/" class="usajobs-help-center-home-top-questions__link">
            <i class="fa fa-envelope-o"></i> How do I contact USAJOBS?
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
