---
permalink: /working-in-government/unique-hiring-paths/students/
layout: unique-hiring-path
section: working-in-government
title: Students & recent graduates
breadcrumb: Students & Recent Graduates
category: Unique Hiring Paths
tags: [student, recent graduates, support-students]
short-name: students
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <img class="usajobs-uhp-section__pathways-logo" src="{{ site.baseurl }}/img/help-center/unique-hiring-paths/pathways-logo.jpg" alt="Pathways logo">
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      The Pathways Program offers federal internship and employment opportunities for current students, recent graduates and those with an advanced degree. There are three different paths available:
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usa-accordion" data-object="help-accordion">
      <li>
        <button class="usa-accordion-button" aria-expanded="true" aria-controls="internship" data-behavior="help-accordion.toggle">
          Internship Program
        </button>
        <div id="internship" class="usa-accordion-content">
          <p>
            The Internship Program is for current students. If you’re a current student in high school, college, trade school or other qualifying educational institution, you may be eligible. This program offers paid opportunities to work in federal
            agencies and explore federal careers while completing your education.
          </p>
          <p>
            <a href="https://www.opm.gov/policy-data-oversight/hiring-information/students-recent-graduates/#url=intern" target="_blank">
              Learn more about the Internship Program
              <span class="fas fa-external-link-alt"></span>
            </a>.
          </p>
        </div>
      </li>
      <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="recent-grads" data-behavior="help-accordion.toggle">
          Recent Graduates Program
        </button>
        <div id="recent-grads" class="usa-accordion-content">
          <p>
            The recent graduate program is for those who have graduated, within the past two years, from a qualifying educational institution or certificate program. The recent graduate program offers career development with training and mentorship.
          </p>
          <p>
            You must apply within two years of getting your degree or certificate (veterans have up to six years to apply due to their military service obligation).
          </p>
          <p>
            <a href="https://www.opm.gov/policy-data-oversight/hiring-information/students-recent-graduates/#url=graduates" target="_blank">Learn more about the recent graduate program <span class="fas fa-external-link-alt"></span></a>.
          </p>
        </div>
      </li>
      <li>
        <button class="usa-accordion-button" aria-expanded="false" aria-controls="pmf" data-behavior="help-accordion.toggle">
          Presidential Management Fellows (PMF) Program
        </button>
        <div id="pmf" class="usa-accordion-content">
          <p>
            This program is for recent graduates with an advanced degree—either a professional or graduate degree such as a master’s, Ph.D. or J.D. You may be eligible if you:
          </p>
          <ul class="usajobs-list-bullets">
            <li>
              Have completed an advanced degree from a qualifying educational institution or program within the past two years of the annual application opening date.
            </li>
            <li>
              Are a current graduate student and will complete all of your advanced degree requirements (including the completion or successful defense of any required thesis or dissertation) by August 31st of the following year of the annual
              application.
            </li>
          </ul>
          <p>
            <a href="https://www.pmf.gov/" target="_blank">
              Learn more about the Presidential Management Fellows program<span class="fas fa-external-link-alt"></span>
            </a>.
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Other student programs and opportunities
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      There are several other opportunities available to students, including:
    </p>
    <ul>
      <li><a href="https://careers.state.gov/intern/student-internships/">Department of State Student Internship program</a></li>
      <li><a href="https://vsfs.state.gov/">Virtual Student Federal Service (VSFS)</a></li>
      <li>National Security Education Programs such as <a href="https://www.nsep.gov/content/david-l-boren-scholarship">Boren Scholarships</a>, <a href="https://www.nsep.gov/content/david-l-boren-fellowships">Boren Fellowships</a> and <a href="https://www.nsep.gov/content/english-heritage-language-speakers">English for Heritage language Speakers Scholarships</a>.
      <li>Overseas Student Summer Hire program</li>
      <li>Summer jobs (for example, a lifeguard)</li>
    </ul>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open to Students & recent graduates?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Students</strong> you’ll see the Students icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"
        role="img">
        <title>Students and recent graduates</title>
        <use xlink:href="#students"></use>
      </svg>. When a job is open to <strong>Recent graduates</strong>, you'll see the Recent graduates icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}">
        <use xlink:href="#graduates"></use>
      </svg>. There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Students or recent graduates</strong> filter. Your results will display all jobs open to students and recent graduates.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <a class="usajobs-uhp-section-required-documents__link" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/students/transcripts/">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              Transcripts
            </div>
          </div>
        </a>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/students-search.html %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Contact information
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Please contact <a href="mailto:pathways@opm.gov">pathways@opm.gov</a> with any issues or questions related to the Pathways Programs for students and recent graduates.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="http://www.usa.gov/directory/federal/index.shtml" target="_blank">
          A-Z list of federal agencies
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/students/federal-occupations-by-college-major/">
          Federal occupations by college major
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/students/faq/">
          Pathways FAQs
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="{{ site.baseurl }}/working-in-government/unique-hiring-paths/students/volunteers/">
          Volunteers
        </a>
      </li>
    </ul>
  </div>
</div>
