<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
{% include base.html %}
  <head>
    {% include prod-head.html %}
  </head>
  <body>
    <a class="skipnav" href="#main-content">Skip main navigation</a>
    {% include components/nav-help.html %}
    <div class="usajobs-help-center">
      {% include components/search-banner-with-nav.html %}
      {% include components/breadcrumbs.html %}
      <section class="usajobs-shell">
        <section class="usajobs-canvas">
          <div class="usajobs-help-center-article usajobs-content-gutter" data-object="help-article">
            <main class="usajobs-content-well" id="main-content">
              <div class="usajobs-help-center-article__container">
                <h1>{{ page.title }}</h1>
                {{ content }}
              </div>
            </main>
            <aside class="usajobs-rightrail">
              <div class="usajobs-help-center-article__reveal-contact-us">
                <h3>Still need help?</h3>
                <a class="usa-button usa-button-big usa-button-outline" href="#contact-us-form" data-behavior="help-article.contact" aria-controls="contact-us-form">
                  <i class="fa fa-comment-o"></i> Contact us
                </a>
              </div>
              {% assign sorted_pages = site.pages | sort:"title" %}
              <h3 class="usajobs-help-center-article__related">Related articles</h3>
              <ul class="usajobs-help-center-article__related-list">
              {% strip %}
              {% for node in sorted_pages %}
                {% if node.category == page.category %}
                  {% if node.exclude_from_category != true %}
                    {% if node.url != page.url %}
                <li>
                  <a href="{{ site.baseurl }}{{ node.url }}">
                    {{ node.title }}
                  </a>
                </li>
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% endstrip %}
              </ul>
            </aside>
          </div>
        </section>
        {% include components/article/submit.html %}
      </section>
    </div>
    {% include components/footer.html %}
    {% include scripts.html %}
  </body>
</html>
