<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
{% include base.html %}
  <head>
    {% include prod-head.html %}
  </head>
  <body>
    {% include components/nav-help-no-secondary.html %}
    <div class="usajobs-help-center">
      <section class="usajobs-shell usajobs-shell--large" data-object="help-article">
        <section class="usajobs-canvas">
          <div class="usajobs-help-singleton usajobs-content-gutter">
            <main class="usajobs-error" id="main-content" role="main">
              <div class="usa-grid-full usajobs-error__container">
                <div class="usajobs-error__img usajobs-error__img--404"></div>
                <h1 class="usajobs-error__title" id="{{ page.title | slugify }}">{{ page.title }}</h1>
                {{ content }}
              </div>
            </main>
          </div>
        </section>
      </section>
    </div>
    {% include components/footer.html %}
    {% include scripts.html %}
  </body>
</html>
