<!DOCTYPE html>
<html lang="en">
{% include base.html %}
  <head>
    {% include prod-head.html %}
  </head>
  <body>
    <a class="skipnav" href="#main-content">Skip main navigation</a>
    {% include components/nav-help.html %}
    <div class="usajobs-help-center">
      <div class="usajobs-help-center__home-container">
        {% include components/search-banner.html param="home" %}
        <section class="usajobs-shell">
          <section class="usajobs-canvas">
            <div class="usajobs-help-center-home usajobs-content-gutter">
              <main class="usajobs-content-well-full" id="main-content" role="main">
                {{ content }}
              </main>
            </div>
            <div class="usajobs-unique-hiring-paths-container">
              {% include components/unique-hiring-paths.html %}
            </div>
          </section>
        </section>
      </div>
      {% include components/home-ctas.html %}
    </div>
    {% include components/footer.html %}
    {% include scripts.html %}
  </body>
</html>
