<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    {% include prod-head.html %}
  </head>
  <body>
    <a class="skipnav" href="#main-content">Skip main navigation</a>
    {% include components/nav-help.html %}
    {% include components/search-banner.html %}
    {% include components/breadcrumbs.html %}
    <section class="usajobs-shell">
      <section class="usajobs-canvas">
        {{ content }}
      </section>
    </section>
    {% include components/footer.html %}
    {% include scripts.html %}
  </body>
</html>
