---
permalink: /working-in-government/unique-hiring-paths/senior-executive-service/
layout: unique-hiring-path
section: working-in-government
title: Senior Executive Service
breadcrumb: Senior Executive Service
category: Unique Hiring Paths
tags: [ses, senior, executives, senior executive service]
short-name: ses
---

{% assign hp = site.data.unique-hiring-paths[page.short-name] %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Senior Executive Service</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      The Senior Executive Service (SES) consists of executive positions, including managerial, supervisory, and policy positions classified above General Schedule (GS) grade 15 or equivalent positions in most Executive Branch agencies of the Federal Government.
    </p>
    <p>
      SES members are selected for their leadership qualifications.  They have exceptional managerial and people skills and know how to build partnerships and communicate with customers.  Sharing a broad perspective of government grounded in the Constitution, they make sure federal executive management is responsive to the needs, policies, and goals of the Nation.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Eligibility</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      Anyone is eligible to apply to an SES position (as long as you’re a U.S. citizen or national), but to be <strong>qualified</strong>, you must meet the five Executive Core Qualifications (ECQs).
    </p>
    <h3>Executive Core Qualifications</h3>
    <p>
      The ECQs help determine if you have the broad executive skills needed to succeed in a variety of SES positions. The ECQs are required for entry to the SES and are used by many departments and agencies in selection, performance management, and leadership development for executive positions. The five ECQs are:
    </p>
    <ol>
      <li>Leading Change</li>
      <li>Leading People</li>
      <li>Results Driven</li>
      <li>Business Acumen</li>
      <li>Building Coalitions</li>
    </ol>
    <p>
      <a href="https://www.opm.gov/policy-data-oversight/senior-executive-service/executive-core-qualifications/" target="_blank">Learn more about the executive core qualifications <span class="fas fa-external-link-alt"></span>
      </a>
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      How do I know a job is open in the Senior Executive Service?
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      In the job announcement look for the <strong>This job is open to</strong> section. When a job is open to <strong>Senior Executive Service</strong> you’ll see this icon: <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon {{ page.short-name }}"><use xlink:href="#{{ hp.icon }}"></use></svg> There may be other groups listed that can also apply.
    </p>
    <p>
      You can also select the <strong>Senior Executive Service</strong> filter in search. Your results will display all jobs open within the Senior Executives Service.
    </p>
    <h4>Are there other executive level jobs that aren’t in the SES?</h4>
    <p>
      Yes. Agencies in the competitive or excepted service may have executive level jobs.  In the job announcement, look for the <strong>This job is open to</strong> section. When a job is considered an executive level job, you’ll see this icon <svg class="usajobs-icon--hiring-path usajobs-uhp-section__filters-uhp-icon se-other"><use xlink:href="#se-other"></use></svg>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">Applying for Senior Executive Service positions</h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <p>
      There are two ways you can apply for a Senior Executive Service position:
    </p>
    <ol>
      <li>Apply directly to a federal agency for a specific SES position.</li>
      <li>Apply for an SES Candidate Development Program (SESCDP).</li>
    </ol>
    <p>
      An SESCDP identifies and prepares aspiring senior executive leaders.  If you graduate from this program and your ECQs are certified by an OPM-administered Qualifications Review Board (QRB) then you’re eligible for (but not guaranteed) career appointment to an SES position without further competition.
    </p>
  </div>
</div>

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title" id="required-documents">
      Documents you may need
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-required-documents">
      <li class="usajobs-uhp-section-required-documents__single-item">
        <div class="usajobs-uhp-section-required-documents__doc">
          <div class="usajobs-uhp-section-required-documents__figure">
            <span class="far fa-file-alt"></span>
          </div>
          <div class="usajobs-uhp-section-required-documents__body">
            <div class="usajobs-uhp-section-required-documents__title">
              OPM Qualifications Review Board certification
            </div>
          </div>
        </div>
        <p>
          The Qualifications Review Board (QRB) reviews and certifies the executive qualifications of each person applying to a Senior Executive position. You must pass the QRB assessment to be considered for a Senior Executive job.
        </p>
      </li>
    </ul>
    {% include components/unique-hiring-paths/required-docs-upload.html %}
  </div>
</div>

{% include components/unique-hiring-paths/search-inner.html page=page.short-name %}

<div class="usajobs-uhp-section">
  <div class="usajobs-uhp-section__col-left">
    <h2 class="usajobs-uhp-section__title">
      Additional resources
    </h2>
  </div>
  <div class="usajobs-uhp-section__col-right">
    <ul class="usajobs-uhp-section-outside-resources">
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="http://www.opm.gov/ses" target="_blank">
          Comprehensive information about the Senior Executive Service (OPM)
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.opm.gov/policy-data-oversight/senior-executive-service/reference-materials/guidetosesquals_2010.pdf" target="_blank">
          Guide to the Senior Executive core qualifications
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/2017/executive-senior-level/" target="_blank">
          Senior Executive Service pay table (OPM)
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
      <li>
        <a class="usa-button usa-button-secondary usajobs-help-center__external-button" href="http://www.opm.gov/ses/recruitment/candevprg.asp" target="_blank">
          Candidate Development Program (OPM)
          <span class="fas fa-external-link-alt"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
